/*.ngFade.ng-enter { 
	transition: 1.5s linear all; 
	opacity: .8;
}

.ngFade.ng-enter-active { opacity: 1; }

.ngToggle.ng-enter {
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 5s;

} 

.ngToggle.ng-enter-active { 

}*/

.wrapper {
  padding-top: 150px;
}

.logo {
    font-size: 72px;
}

section.main {
	background-color: #ecf0f1;
	height: 645px;
	margin: 0;
	padding-top: 50px;
	padding: 0 50px;
}

section.sidebar-one {
	width: 200px;
	background-color: #2c3e50;
	float: left;
	padding-bottom: 29px;
}

.main h1 , .sidebar-one h1 {
	margin: 0;
}

.sidebar-one .top-sidebar {
	border-bottom: 1px solid black;
}

.sidebar-one h1 {
	display: inline-block;
	padding-top: 20px;
	padding-left: 15px;
}

.sidebar-one .sidebar-toggle {
	margin: 0 0 10px 20px;
}

.sidebar-one ul {
	list-style: none;
	padding: 0;
	margin-bottom: 220px;
}

.sidebar-one li {
	font-size: 24px;
	background-color: #16a085; 
    margin-top: 30px;
    padding-left: 15px;
    cursor: pointer;
}

.btn-logout {
	width: 100%;
	border-radius: 0;
}

section.sidebar-two {
	width: 50px;
	background-color: #2c3e50;
	float: left;
	padding-bottom: 29px;
}

.sidebar-two .sidebar-toggle {
	margin: 30px 0 10px 5px;
}

.sidebar-two ul {
	list-style: none;
	padding: 0;
	margin-bottom: 220px;
}

.sidebar-two li {
	font-size: 24px;
	background-color: #16a085; 
    margin-top: 30px;
    padding-left: 15px;
    cursor: pointer;
}

.active {
	background-color: #c0392b !important;
}

ul.settings li{
	background-color: #f39c12;
	margin-top: 5px;
	padding-left: 40px;
}

.user-table {
	width: 500px;
}

.add-form {

}
.username {
	color: #95a5a6;
}

th {
	background-color: #2c3e50;
	color: #bdc3c7;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

button.add-margin {
	margin-left: 10px;
}