<div class="container">
<div ng-controller="AdminUsersCtrl">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"   data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="adminSelectCategory(1)">FM Marketing</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
          <li ng-class="category == 1 ? 'active' : default" ng-click="adminSelectCategory(1)"><a>Sales</a></li>
          <li  ng-class="category == 2 ? 'active' : default" ng-click="adminSelectCategory(2)"><a>Inventory</a></li>
          <li  ng-class="category == 3 ? 'active' : default" ng-click="adminSelectCategory(3)"><a>Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="disabled">{{username.userName}}</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>   
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <section class="main">
    <h1>Accounts</h1>
    <br>
    <button ng-click="toggleAdd()"> Add User </button>
    <br>

    <div ng-show="enableAdd">
      <form role="form" name="addUserForm" novalidate class="col-md-4" ng-submit="add(addedUser)">
        <div class="form-group">
          <label for="input-username">Username</label>
          <input type="text" ng-model="addedUser.userName" class="form-control" id="input-username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
          <label for="input-password">Password</label>
          <input type="password" ng-model="addedUser.password" class="form-control" id="input-password" placeholder="Enter password" required>
        </div>
        <div>
          <select  class="form-control" ng-model="addedUser.type" required>
            <option value="">---Choose user type---</option>  
            <option ng-repeat="userType in userTypes" value="{{userType}}">{{userType}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input-password">Firstname</label>
          <input type="text" ng-model="addedUser.firstName" class="form-control" id="input-password" placeholder="Enter firstname" required>
        </div>
        <div class="form-group">
          <label for="input-password">Lastname</label>
          <input type="text" ng-model="addedUser.lastName" class="form-control" id="input-password" placeholder="Enter lastname" required>
        </div>
        <br>
        <button  class="btn btn-primary" ng-disabled="addUserForm.$invalid">Add</button> 
        <a class="btn btn-primary" ng-click="cancel('add')">Cancel</a> 
      </form>
    </div>

    <div ng-show="enableEdit">
      <form role="form" name="editUserForm" novalidate class="col-md-4" ng-submit="edit(editUser)">
        <div class="form-group">
          <label for="input-username">Username</label>
          <input type="text" ng-model="editUser.userName" class="form-control" id="input-username" placeholder="Enter username" disabled>
        </div>
        <div>
          <select  class="form-control" ng-model="editUser.type" required>
            <option value="">---Choose user type---</option>  
            <option ng-repeat="userType in userTypes" value="{{userType}}">{{userType}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input-password">Firstname</label>
          <input type="text" ng-model="editUser.firstName" class="form-control" id="input-password" placeholder="Enter firstname" required>
        </div>
        <div class="form-group">
          <label for="input-password">Lastname</label>
          <input type="text" ng-model="editUser.lastName" class="form-control" id="input-password" placeholder="Enter lastname" required>
        </div>
        <br>
        <button  class="btn btn-primary" ng-disabled="editUserForm.$invalid">Save</button> 
        <a class="btn btn-primary" ng-click="cancel('edit')">Cancel</a> 
      </form>
    </div>

	<div class="panel-body">
      <table class="table table-striped table-bordered user-table">
        <thead>
          <th>Username</th>
          <th>Permission</th>
          <th>Full Name</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.userName}}</td>
            <td>{{user.type}}</td>
            <td>{{user.firstName+' '+user.lastName}}</td>
            <td><button ng-click="toggleEdit(user)">Edit</button><button ng-click="delete(user.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

</div>
</div>
<!-- 
<div class="form-group">
          <label for="input-password">Password</label>
          <input type="password" ng-model="editUser.password" class="form-control" id="input-password" placeholder="Enter password" required>
        </div> -->