<div class="container">
<div ng-controller="CashierSalesCtrl">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"   data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="adminSelectCategory(1)">FM Marketing</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <!-- <ul class="nav navbar-nav">
          <li ng-class="category == 1 ? 'active' : default" ng-click="adminSelectCategory(1)"><a>Sales</a></li>
          <li  ng-class="category == 2 ? 'active' : default" ng-click="adminSelectCategory(2)"><a>Inventory</a></li>
          <li  ng-class="category == 4 ? 'active' : default" ng-click="adminSelectCategory(3)"><a>Account</a></li>
        </ul> -->
        <ul class="nav navbar-nav navbar-right">
          <li><a class="disabled">{{username.userName}}</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>   
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <section class="main">
    <h1>POS</h1>
    <br>
    <div class="row">
    	<div class="col-md-5">
    		<table class="table table-bordered table-stripped">
    			<thead>
    				<th></th>
    				<th>Product</th>
    				<th>Qty</th>
    				<th>Price</th>
    			</thead>
    			<tbody>
    				<tr>
    					<td><a>X</a></td>
                        <td>Coke</td>
                        <td>12</td>
                        <td>₱12.00</td>
    				</tr>
    				<tr>
    					<td><a>X</a></td>
                        <td>Sprite</td>
                        <td>15</td>
                        <td>₱11.00</td>
    				</tr>
    				<tr>
    					<td><a>X</a></td>
                        <td>Royal</td>
                        <td>17</td>
                        <td>₱12.00</td>
    				</tr>
    			</tbody>
    		</table>
    		<div>
    			<p>Total Items: 3</p>
    			<p>Total: ₱35.00</p>
    			<p>Discount: 0.00</p>
    			<p>Total Payable: ₱35.00</p>
    		</div>
    		<div>
    			<button class="btn btn-warning">Cancel</button>
    			<button class="btn btn-primary">Payment</button>
    		</div>
    	</div>
    	<div class="col-md-7">
    		<div class="brand-bar">
    		<button class="btn btn-primary btn-lg active">Coca-Cola</button>
    		<button class="btn btn-primary btn-lg">SMB</button>
    		</div>
    		<br>
    		<div>
    			<button class="btn">Coke</button>
    			<button class="btn">Minute Maid</button>
    			<button class="btn">Royal</button>
    			<button class="btn">Sprite</button>
    		</div>
    	</div>
    </div>
  </section>

</div>
</div>
<!-- 
<div class="form-group">
          <label for="input-password">Password</label>
          <input type="password" ng-model="editUser.password" class="form-control" id="input-password" placeholder="Enter password" required>
        </div> -->