<div class="container">
<div ng-controller="CheckerSalesCtrl">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"   data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="adminSelectCategory(1)">FM Marketing</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
          <li ng-class="category == 1 ? 'active' : default" ng-click="cashierSelectCategory(1)"><a>Tally</a></li>
          <li  ng-class="category == 2 ? 'active' : default" ng-click="cashierSelectCategory(2)"><a>Load In</a></li>
          <li  ng-class="category == 3 ? 'active' : default" ng-click="cashierSelectCategory(3)"><a>Adjusment</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="disabled">{{username.userName}}</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>   
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <section class="main">
    
    <div class="row">
   
    <div class="col-md-12">
    	<br>
    	<br>
    	<h1>Adjustment</h1>
    	<br>
    	<br>
    	<button class="btn btn-primary">Add</button>
    	<br>
    	<br>
    <table class="table table-bordered table-stripped">
    	<thead>
    		<th>Product Name</th>
    		<th>Size</th>
    		<th>Brand</th>
    		<th>Bottles</th>
    		<th>Price</th>
    		<th>Expense</th>
    		<th>Date</th>
            <th>Status</th>

    	</thead>
    	<tbody>
    		<tr>
    			<td>Coke</td>
    			<td>1L</td>
    			<td>Coca-Cola</td>
    			<td>400</td>
    			<td>₱13.00</td>
    			<td>₱250.00</td>
    			<td>2014-11-14</td>
    			<td>Valid</td>
    		</tr>
    		<tr>
    			<td>Royal</td>
    			<td>1L</td>
    			<td>Coca-Cola</td>
    			<td>400</td>
    			<td>₱13.00</td>
    			<td>₱250.00</td>
    			<td>2014-11-14</td>
    			<td>Valid</td>
    		</tr>
    		<tr>
    			<td>Red Horse</td>
    			<td>1L</td>
    			<td>SMB</td>
    			<td>400</td>
    			<td>₱13.00</td>
    			<td>₱250.00</td>
    			<td>2014-11-14</td>
    			<td>Valid</td>
    		</tr>
    	</tbody>
    </table>
    </div>
    </div>

  </section>

</div>
</div>






