<div class="container">
<div ng-controller="EncoderSalesCtrl">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"   data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="encoderSelectCategory(1)">FM Marketing</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li  ng-class="category == 2 ? 'active' : default" ng-click="
          encoderSelectCategory(2)"><a>Sales</a></li>
          <li  ng-class="category == 3 ? 'active' : default" ng-click="encoderSelectCategory(1)"><a>Inventory</a></li>
          <li  ng-class="category == 4 ? 'active' : default" ng-click="encoderSelectCategory(3)"><a>Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="disabled">{{username.userName}}</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>   
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <section class="main">
    <a class="btn" ng-click="selectTab(1)">Add Delivery</a>
        <div class="col-md-12">
          <div class="row" ng-show="tab == 1">
        	
        	<div>
            	<form role="form" name="addDeliveryForm" novalidate ng-submit="addDelivery(newDelivery)">
             <h3>Add Delivery</h3>
          		<div class="form-group">
          		<label for="input-username">Product Name:</label>
          		<input type="text" ng-model="newDelivery.establishName" class="" required>
          		</div>

          		<div class="form-group">
          		<label for="input-username">Owner Name:</label>
          		<input type="text" ng-model="newDelivery.ownerName" class="" required>
          		</div>

          		<div class="form-group">
          		<label for="input-username">Delivery Date:</label>
          		<input type="date" ng-model="newDelivery.deliveryDate" class="" required>
          		</div>

          		<table class="table table-bordered table-stripped">
          			<thead>
          				<th>Item</th>
          				<th>Size</th>
          				<th>Cases</th>
          				<th>Price</th>
          			</thead>
          			<tbody>
          				<tr>
          					<td>Coke</td>
          					<td>500ml</td>
          					<td>15</td>
          					<td>400</td>
          				</tr>
          			</tbody>
          		</table>
                
                <button class="btn btn-primary btn-sm" ng-click="addDelivery = true">+</button><br>
                
                <div ng-show="addDelivery">
                Item: 
                <select>
                	<option>Coke</option>
                	<option>Sprite</option>
                </select>

                Size:
                <select>
                	<option>500ml</option>
                	<option>1L</option>
                </select>

                Cases: <input type="number" style="width:60px;">
                Price: ₱<input type="number" style="width:60px;">
                
                  <button class="btn btn-primary btn-sm " ng-disabled="addDeliveryForm.$invalid" ng-click="showAddForm = false">Add</button>
                <button class="btn btn-primary  btn-sm" ng-click="addDelivery = false">Cancel</button>
                </div>

            <br><br>
         		<div> 
         		<button class="btn btn-primary btn-sm " ng-disabled="addDeliveryForm.$invalid" ng-click="showAddForm = false">Submit</button>

         		</div> 
        	</div>
          </div>
        </div>

  </section>

</div>
</div>

