<div class="container">
<div ng-controller="EncoderHomeCtrl">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"   data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="encoderSelectCategory(1)">FM Marketing</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li  ng-class="category == 2 ? 'active' : default" ng-click="
          encoderSelectCategory(2)"><a>Sales</a></li>
          <li  ng-class="category == 3 ? 'active' : default" ng-click="encoderSelectCategory(1)"><a>Inventory</a></li>
          <li  ng-class="category == 4 ? 'active' : default" ng-click="encoderSelectCategory(3)"><a>Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="disabled">{{username.userName}}</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>   
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <section class="main">
        
        <div class="col-md-12">
          <br>
          <br>
          <h1>Inventory</h1>
        <select ng-model="showBrand" ng-options="item.action as item.brand for item in products"></select>

                <table class="table table-bordered table-stripped">
          <thead>
            <th>Product Name</th>
            <th>Product Size</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Bottles</th>
            <th>Cases</th>
            <th>Lifespan</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="variant in variants">
              <td>{{variant.name}}</td>
              <td>{{variant.size}}</td>
              <td>{{variant.brand}}</td>
              <td>{{variant.price}}</td>
              <td>{{variant.bottles}}</td>
              <td>{{variant.cases}}</td>
              <td>{{variant.lifespan+" "+"months"}}</td>
              <td><button type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#replenishModal" ng-click="transferReplenishProduct(variant)">Replenish</button></td>
            </tr>
          </tbody>
        </table>

        </div>
        
  </section>

</div>
</div>



