<div ng-controller="AdminHomeCtrl">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"   data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="adminSelectCategory(1)">FM Marketing</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="category == 1 ? 'active' : default" ng-click="adminSelectCategory(1)"><a>Home</a></li>
          <li  ng-class="category == 2 ? 'active' : default" ng-click="adminSelectCategory(2)"><a>Inventory</a></li>
          <li  ng-class="category == 3 ? 'active' : default" ng-click="adminSelectCategory(3)"><a>Sales</a></li>
          <li  ng-class="category == 4 ? 'active' : default" ng-click="adminSelectCategory(4)"><a>Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="disabled">{{username.userName}}</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>   
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <section class="main">
    <h1>MAIN CONTENT</h1>
	<div class="dssr">
	</div>
  </section>

</div>