<div ng-controller="AdminDeliveryCtrl">

  <section ng-if="sidebarClicked" class="sidebar-one ngToggle">

    <div class="top-sidebar">
    <h1 class="username">{{username.userName}}</h1>
    <a class="btn btn-primary sidebar-toggle" ng-click="toggle()">O</a>
    </div>
  
    <ul>
      <li ng-class="category == 1 ? 'active' : default" ng-click="selectCategory(1)">Home</li>
      <li ng-class="category == 2 ? 'active' : default" ng-click="selectCategory(2)">Delivery</li>
      <li ng-class="category == 3 ? 'active' : default" ng-click="selectCategory(3)">Inventory</li>
      <li ng-class="category == 4 ? 'active' : default" ng-click="selectCategory(4)">Sales</li>
      <li ng-class="category == 5 ? 'active' : default" ng-click="settingsClicked()">Settings</li>
      <ul ng-show="settings" class="settings">
        <li ng-click="selectCategory(6)" >Accounts</li>
      </ul>
    </ul>

   <a class="btn btn-primary btn-logout" ng-click="logout()">Logout</a>
  </section>

  <section ng-if="!sidebarClicked" class="sidebar-two ngToggle">

    <div class="top-sidebar">
    <a class="btn btn-primary sidebar-toggle" ng-click="toggle()">O</a>
    </div>

    <ul>
      <li ng-click="selectCategory(1)">H</li>
      <li ng-click="selectCategory(2)">D</li>
      <li ng-click="selectCategory(3)">I</li>
      <li ng-click="selectCategory(4)">S</li>
      <li ng-click="selectCategory(5)">S</li>
    </ul>

    <a class="btn btn-primary btn-logout" ng-click="logout()">LO</a>
  </section>

  <section class="main">
    <h1>MAIN CONTENT</h1>
    <p>This is the admin-delivery view.</p>
  </section>

</div>
