
<table class="table table-bordered table-stripped">
	<thead>
		<th>Product Name</th>
		<th>Product Size</th>
		<th>Brand</th>
		<th>Price</th>
		<th>Bottles</th>
		<th>Cases</th>
		<th>Lifespan</th>
		<th></th>
	</thead>
	<tbody>
		<tr ng-repeat="variant in variants">
			<td>{{variant.name}}</td>
			<td>{{variant.size}}</td>
			<td>{{variant.brand}}</td>
			<td>{{variant.price}}</td>
			<td>{{variant.bottles}}</td>
			<td>{{variant.cases}}</td>
			<td>{{variant.lifespan+" "+"months"}}</td>
			<td><button type="button" class="btn btn-primary btn-success" data-toggle="modal" data-target="#replenishModal" ng-click="transferReplenishProduct(variant)">Replenish</button></td>
		</tr>
	</tbody>
</table>
