
<table class="table table-bordered table-stripped">
	<thead>
		<th>Product Name</th>
		<th>Product Size</th>
		<th>Brand</th>
		<th>Price</th>
		<th>Bottles</th>
		<th>Cases</th>
		<th>Lifespan</th>
	</thead>
	<tbody>
		<tr ng-repeat="product in products">
			<td>{{product.name}}</td>
			<td>{{product.size}}</td>
			<td>{{product.brand}}</td>
			<td>{{product.price}}</td>
			<td>{{product.bottles}}</td>
			<td>{{product.cases}}</td>
			<td>{{product.lifespan+" "+"months"}}</td>
		</tr>
	</tbody>
</table>
