<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Accounts </h1>
    </div>

    <div class="pageheader-right" align="center">
            <span class="label label-default">DATE:</span>
            <span class="label label-default">FEBRUARY. 09, 2015</span>
            <span class="label label-default"><a href="">▼</a></span>
            <br>

            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search by:">
            </form>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

    <!-- LEFT PANEL -->

    <div class="panel panel-left col-md-3">
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>

                    <div class="form-group">
                        <label for="inputUsername" class="col-md-2 control-label">Username</label>  
                        <div class="col-md-12"><input type="username" class="form-control" id="inputUsername" placeholder="Enter username.">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-md-2 control-label">Password</label>
                        <div class="col-md-12"><input type="password" class="form-control" id="inputPassword" placeholder="Enter password.">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="select" class="col-md-3">Type</label>
                        <div class="col-md-12">
                            <select class="form-control" id="selectType">
                                <option>Admin</option>
                                <option>Encoder</option>
                                <option>Checker</option>
                                <option>Cashier</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-md-4">First Name</label>
                        <div class="col-md-12"><input type="inputFirstName" class="form-control" id="inputFirstName" placeholder="Enter first name.">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLastName" class="col-md-4">Last Name</label> 
                        <div class="col-md-12"><input type="LastName" class="form-control" id="inputLastName" placeholder="Enter last name.">
                        </div>
                    </div>

                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button class="btn btn-default">Cancel</button> 
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <!-- RIGHT PANEL -->

    <div class="panel panel-right col-md-8">
        <div class="panel-body">

    <!-- START OF TABLE -->            

            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Permission</th>
                        <th>Full Name</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>


                    <tr>
                        <td>1</td>
                        <td>Maria</td>
                        <td>Admin</td>
                        <td>Maria Sabaw</td>
                        <td>

                            <!-- START OF EDIT BUTTON -->
                            <a href="javascript:void(0)" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#editModal">Edit</a>

                            <!-- DELETE BUTTON -->
                            <a href="javascript:void(0)" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteModal">Delete</a>

                            
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Leonora</td>
                        <td>Encoder</td>
                        <td>Leonora Sago</td>
                        <td>
                            <!-- START OF EDIT BUTTON -->
                            <a href="javascript:void(0)" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#editModal">Edit</a>
                            <!-- DELETE BUTTON -->
                            <a href="javascript:void(0)" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteModal">Delete</a>

                        </td>
                    </tr>

                    <tr> 
                        <td>3</td>
                        <td>Teresa</td>
                        <td>Checker</td>
                        <td>Teresa Ewan</td>
                        <td>

                        </td>                    
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>Agnes</td>
                        <td>Cashier</td>
                        <td>Agnes Keme</td>
                        <td>


                        </td>                    
                    </tr>

                    <!-- DON'T REMOVE CODE BELOW -->

                </tbody>
            </table>
        </div>

    <!-- END OF TABLE -->
    

    <!-- PRINT ICON -->
    <br><br>
    <div class="form-group" align="right">
        <div class="icon-preview"><a class="btn btn-success pull-right btn-md"><i class="mdi-action-print"></i></a></div>
    </div>
    <br><br>


</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->
