<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Accounts </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search">
                                <form method="get" action="/search" id="search">
                                    <input name="q" type="text" size="50" placeholder="SEARCH" ng-hide="addUserForm || editOrDeleteUserForm"/>
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-click="showAddUserForm(true)" ng-hide="addUserForm">
                                <h6><i class="mdi-content-add-box"/> &nbsp; ADD ACCOUNTS</h6></a>

                        </li>
                    </ul>
                </div>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

    <!-- LEFT PANEL -->
    <div ng-class="addUserForm ? 'col-xs-12 col-md-4' : ''">
        <div class="panel panel-left" ng-show="addUserForm">
            <div class="panel-body">
                <h4><i class="mdi-content-add-circle"></i> ADD NEW ACCOUNT </h4>
                <form class="form-horizontal" name="userForm" ng-submit="addUser(user)" novalidate>
                    <fieldset>

                        <div class="form-group">
                            <label for="inputUsername" class="col-md-2 control-label">Username</label>  
                            <div class="col-md-12">
                                <div ng-show="userForm.inputUsername.$invalid && !userForm.inputUsername.$pristine">Username Required!</div>
                                <input type="text" class="form-control" name="inputUsername" placeholder="Enter username." ng-model="user.username" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="col-md-2 control-label">Password</label>
                            <div class="col-md-12">
                                <div ng-show="userForm.inputPassword.$invalid && !userForm.inputPassword.$pristine">Password must contain a minimum of <strong>8 characters!</strong></div>
                                <input type="password" class="form-control" ng-minlength="8" name="inputPassword" placeholder="Enter password."
                                ng-model="user.password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="select" class="col-md-3">Type</label>
                            <div class="col-md-12">
                                <select class="form-control" id="selectType" ng-model="user.type" ng-init="user.type= types[0]">
                                    <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputFirstName" class="col-md-4">First Name</label>
                            <div class="col-md-12">
                                <div ng-show="userForm.inputFirstName.$invalid && !userForm.inputFirstName.$pristine">First Name Required!</div>
                                <input type="text" class="form-control" name="inputFirstName" placeholder="Enter first name." ng-model="user.firstname" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputLastName" class="col-md-4">Last Name</label> 
                            <div class="col-md-12">
                                <div ng-show="userForm.inputLastName.$invalid && !userForm.inputLastName.$pristine">Last Name Required!</div>
                                <input type="text" class="form-control" name="inputLastName" placeholder="Enter last name." ng-model="user.lastname" required>
                            </div>
                        </div>

                        <div class="form-group rightalign">
                            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Add</button>
                            <button type="button" class="btn btn-default" ng-click="showAddUserForm(false)">Cancel</button> 
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


    <div ng-class="editOrDeleteUserForm ? 'col-xs-12 col-md-4' : ''">
        <div class="panel panel-left" ng-show="editOrDeleteUserForm">

            <div class="panel-body" ng-hide="userType === 'admin' ">

              <h4><i class="mdi-image-edit"></i> EDIT ACCOUNT </h4>
              <form class="form-horizontal" name="editUserForm" ng-submit="editUser(userEdit)" novalidate>
                    <fieldset>

                        <div class="form-group">
                            <label for="inputUsername" class="col-md-2 control-label">Username</label>  
                            <div class="col-md-12"><input type="text" class="form-control" id="inputUsername" placeholder="Enter username." ng-model="userEdit.username" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="col-md-2 control-label">Password</label>
                            <div class="col-md-12"><input type="password" class="form-control" id="inputPassword" placeholder="Enter password."
                            ng-model="userEdit.password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="select" class="col-md-3">Type</label>
                            <div class="col-md-12">
                                <select class="form-control" id="selectType" ng-model="userEdit.type">
                                    <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputFirstName" class="col-md-4">First Name</label>
                            <div class="col-md-12"><input type="text" class="form-control" id="inputFirstName" placeholder="Enter first name." ng-model="userEdit.firstname" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputLastName" class="col-md-4">Last Name</label> 
                            <div class="col-md-12"><input type="text" class="form-control" id="inputLastName" placeholder="Enter last name." ng-model="userEdit.lastname" required>
                            </div>
                        </div>

                        <div class="form-group rightalign">
                            <button type="submit" class="btn btn-primary" ng-disabled="editUserForm.$invalid">Save</button>
                            <button type="button" class="btn btn-default" ng-click="showEditOrDeleteUserForm(false)">Cancel</button> 
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="panel-body" ng-show="userType === 'admin'">

              <h4><i class="mdi-action-delete"></i> DELETE ACCOUNT </h4>
              <form class="form-horizontal" name="deleteUserForm" ng-submit="deleteUser(userDelete)" novalidate>
                    <fieldset>

                        <div class="form-group">
                            <label for="inputUsername" class="col-md-2 control-label">Username</label>  
                            <div class="col-md-12"><input type="text" class="form-control" id="inputUsername" placeholder="Enter username." ng-model="userDelete.username" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="select" class="col-md-3">Type</label>
                            <div class="col-md-12">
                                <select class="form-control" id="selectType" ng-model="userDelete.type" disabled>
                                    <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputFirstName" class="col-md-4">First Name</label>
                            <div class="col-md-12"><input type="text" class="form-control" id="inputFirstName" placeholder="Enter first name." ng-model="userDelete.firstname" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputLastName" class="col-md-4">Last Name</label> 
                            <div class="col-md-12"><input type="text" class="form-control" id="inputLastName" placeholder="Enter last name." ng-model="userDelete.lastname" disabled>
                            </div>
                        </div>

                        <div class="form-group rightalign">
                            <button type="submit" class="btn btn-primary">Delete</button>
                            <button type="button" class="btn btn-default" ng-click="showEditOrDeleteUserForm(false)">Cancel</button> 
                        </div>
                    </fieldset>
                </form>   
            </div>
        </div>
    </div>


    <!-- RIGHT PANEL -->
    <div ng-class="addUserForm || editOrDeleteUserForm? 'col-xs-12 col-md-8' : ''">
        <div class="panel panel-right">
            <div class="panel-body">

        <!-- START OF TABLE -->            

                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th width="35%">Username&nbsp;
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                            <th width="35%">Type&nbsp;
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                            <th width="30%">Full Name&nbsp;
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="user in users" ng-click="userClicked(user)">
                            <td>{{user.username}}</td>
                            <td>{{user.type}}</td>
                            <td>{{user.firstname + " " + user.lastname}}</td>
                        </tr>

                    

                    </tbody>
                </table> <!-- END OF TABLE -->


            </div>
        </div>
    </div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->
