<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Add Delivery </h1>
    </div>

    <div class="pageheader-right" align="center">
            <span class="label label-default">DATE:</span>
            <span class="label label-default">FEBRUARY. 09, 2015</span>
            <span class="label label-default"><a href="">▼</a></span>
            <br>

            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search by:">
            </form>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">


<div class="panel panel-left col-md-3">
    <div class="panel-body">


<form class="form-horizontal">
        <fieldset>

        <div class="form-group">
            <label for="inputCustName" class="col-md-6">Customer Name</label>  
            <div class="col-md-12">
                <input type="text" class="form-control" id="inputProductName" placeholder="Enter the name of customer.">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEstbName" class="col-md-6">Establishment Name</label>  
            <div class="col-md-12">
                <input type="text" class="form-control" id="inputEstName" placeholder="Enter the name of product.">
            </div>
        </div> 
        <div class="form-group">
            <label for="inputProductName" class="col-md-6">Product Name</label>  
            <div class="col-md-12">
                <input type="text" class="form-control" id="inputProductName" placeholder="Enter the name of product.">
            </div>
        </div>
        <div class="form-group">
            <label for="inputOwnerName" class="col-md-6">Date</label>  
            <div class="col-md-12">
                <input type="Date" class="form-control" id="inputDate">
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-md-4">Item:</label>
            <div class="col-md-12">
                <select class="form-control" id="item">
                    <option>Coke</option>
                    <option>San Miguel</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="col-md-4">Size:</label>
            <div class="col-md-12">
                <select class="form-control" id="Size">
                    <option>330mL</option>
                    <option>500mL</option>
                    <option>1L</option>
                    <option>1.5L</option>
                    <option>Sakto</option>
                    <option>in Can</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="select" class="col-md-4">Cases:</label>
            <div class="col-md-12">
                   <input type="text" class="form-control" id="case">
            </div>
        </div>

        <div class="form-group">
             <label for="select" class="col-md-4">Price:</label>
            <div class="col-md-12">
                   <input type="text" class="form-control" id="Price">
            </div>
        </div>


      </fieldset>
    </form>


    <div class="icon-preview">
      <a class="btn btn-primary pull-right btn-md">Add</a>
      <br>
    </div>

    </div>
</div>

<!-- BODY: RIGHT -->


<div class="panel panel-right col-md-8">
    <div class="panel-body">


    <table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Establishment Name</th>
            <th>Item</th>
            <th>Size</th>
            <th>Cases</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th></th>
            <td>Coke</td>
            <td>500mL</td>
            <td>15</td>
            <td>400</td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <td>Royal</td>
            <td>1L</td>
            <td>20</td>
            <td>500</td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <td>Minute Made</td>
            <td>1.5L</td>
            <td>16</td>
            <td>375</td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td>    <div class="form-group" align="right">
        <div class="icon-preview"><i class="mdi-content-add-box"></i></div>
    </div>
</td>
        </tr>
    </tbody>
</table>

</br>
</br>


    <!-- PRINT ICON 
    <br><br>
    <div class="form-group" align="right">
        <div class="icon-preview"><a class="btn btn-success pull-right btn-md"><i class="mdi-action-print"></i></a></div>
    </div>
    <br><br> -->



</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->
