
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Bad Orders </h1>
    </div>


    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search">
                                <form method="get" action="/search" id="search" ng-hide="addBadOrderForm">
                                    <input name="q" type="text" size="50" placeholder="SEARCH" />
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-click="showAddBadOrderForm(true)" ng-hide="addBadOrderForm">
                                <h6><i class="mdi-content-add-box"/> &nbsp; ADD BAD ORDERS</h6></a>

                        </li>
                        <li>
                            <a ng-click="" ng-hide="addBadOrderForm">
                            <h6><i class="mdi-action-print center" /> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

 <div class="panel col-md-12" ng-show="addBadOrderForm">
    <div class="panel-body">

        <div class="col-md-4">
        <h4><i class="mdi-content-add-circle"></i> ADD BAD ORDER  </h4>
        <form class="form-horizontal" name="badOrderForm" ng-submit="addProduct(product)" novalidate>
            <fieldset>

                <div class="form-group">
                    <label for="select" class="col-md-3">Bay</label>

                    <div class="col-md-12">
                        <select class="form-control" ng-model="product.bay" ng-options="bay as bay.pile_name for bay in bays">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="select" class="col-md-3">SKU</label>

                    <div class="col-md-12">
                        <select class="form-control" ng-model="product.sku" ng-options="sku as combined(sku) for sku in skuList">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputOwnerName" class="col-md-2 control-label">Cases</label>

                    <div class="col-md-12">

                     <!-- Error Message -->
                        <div ng-show="badOrderForm.inputCases.$invalid && !badOrderForm.inputCases.$pristine">Invalid! Please input cases and numbers only. </div>

                        <input type="number" name="inputCases" min="1" class="form-control" placeholder="Enter the number of cases."
                        ng-model="product.cases" required>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmplyeeName"  class="col-md-2 control-label">Accountable</label>

                    <div class="col-md-12">

                    <!-- Error Message -->
                        <div ng-show="badOrderForm.inputEmployeeName.$invalid && !badOrderForm.inputEmployeeName.$pristine">Invalid! Please input employee name. </div>

                        <input type="text" name="inputEmployeeName" class="form-control" placeholder="Enter the employee name."
                        ng-model="accountable" required>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAddress" class="col-md-2 control-label">Reason</label>

                    <div class="col-md-12">
                     <!-- Error Message -->
                        <div ng-show="badOrderForm.inputReason.$invalid && !badOrderForm.inputReason.$pristine">Invalid! Please input reason. </div>

                        <textarea name="inputReason"  cols="45" rows="5" ng-model="product.reason"></textarea>
                    </div>
                </div>

                <div class="alert alert-dismissable alert-danger" ng-show="itemExistingError">
                  <button type="button" class="close" ng-click="showItemExistingError(false)">×</button>
                  <strong>{{itemExisting}}</strong>
              </div> 

              <div class="form-group rightalign">
                <button type="submit" class="btn btn-primary" ng-disabled="badOrderForm.$invalid">Add</button>
            </div>

        </fieldset>
    </form>
    </div>


    <div class="col-md-8">
        <div class="form-group" >
             <div class="col-md-2 pull-right"><input type="number" class="form-control" value="" ng-model="totalExpense" disabled>
            </div>
            <legend class="col-md-3 pull-right control-label">Total Expense</legend>
        </div>

        <br/>

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Cases</th>
                    <th>Expense</th>
                    <th>Reason</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.sku_name}}</td>
                    <td>{{product.cases}}</td>
                    <td>{{product.expense}}</td>
                    <td>{{product.reason}}</td>
                    <td><button ng-click="deleteProduct($index)" class="btn btn-primary btn-xs ">Delete</button></td>
                </tr>

                <!-- DON'T REMOVE CODE BELOW -->

            </tbody>
        </table>

        <form name="submitBadOrderForm" ng-submit="submitBadOrders()" novalidate>

            <br/>

            

          <br/>
          <br/>

          <div class="icon-preview">
            <div class="form-group rightalign">
              <button type="submit" class="btn btn-primary" ng-disabled="submitBadOrderForm.$invalid || !products.length">Submit</button>  
              <button type="button" class="btn btn-default" ng-click="showAddBadOrderForm(false)">Cancel</button>
            </div>
            </div>
         </form>

         <br/>

    </div>
</div>
</div>

<!-- User's Input table -->


<!-- RIGHT PANEL -->

<div class="panel col-md-12">
    <div class="panel-body">

        <!-- START OF TABLE -->    

        <table class="table table-striped table-hover ">

            <thead>
              <tr class="labels">
                <th>Bad Order #&nbsp;
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                <th>Expense&nbsp;
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                <th>Accountable&nbsp;
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                <th>Date&nbsp;
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
            </tr>
        </thead>

        <tbody>
          <tr ng-repeat="badOrder in badOrdersList" ng-click="getBadOrderDetails(badOrder.id)"  data-toggle="modal" data-target="#myModal">
            <td>{{badOrder.id}}</td>
            <td>{{badOrder.expense}}</td>
            <td>{{badOrder.accountable}}</td>
            <td>{{badOrder.date}}</td>
        </tr>
    </tbody>

</table>


</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="viewBadOrderDetails">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showViewBadOrderDetails(false)"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bad order details</h4>
      </div>
      <div class="modal-body">
         <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Cases</th>
                    <th>Reason</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="badOrder in badOrderDetails">
                    <td>{{badOrder.sku_id.sku_name + " " + badOrder.sku_id.size}}</td>
                    <td>{{badOrder.cases}}</td>
                    <td>{{badOrder.reason}}</td>
                </tr>

                <!-- DON'T REMOVE CODE BELOW -->

            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="showViewBadOrderDetails(false)">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->