
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Bad Order </h1>
    </div>

    <div class="pageheader-right" align="center">
            <span class="label label-default">DATE:</span>
            <span class="label label-default">FEBRUARY. 09, 2015</span>
            <span class="label label-default"><a href="">▼</a></span>
            <br>

            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search by:">
            </form>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">



  <div class="panel panel-left col-md-3">
    <div class="panel-body">
      <form class="form-horizontal">
              <fieldset class = "forminput">

                      <div class="form-group">
                          <label for="inputProductname" class="col-md-6">Product Name</label>
                          <div class="col-md-12"><input type="text" class="form-control" id="inputProductname" placeholder="Enter product name">
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="inputSize" class="col-md-6">Size</label>
                          <div class="col-md-12">
                              <div class="form-control-wrapper"><input type="text" class="form-control" id="inputSize" placeholder="Enter size"><span class="material-input"></span></div>
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="inputBrand" class="col-md-6">Brand</label>
                          <div class="col-md-12">
                              <div class="form-control-wrapper"><input type="text" class="form-control" id="inputBrand" placeholder="Enter brand"><span class="material-input"></span></div>
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="inputPrice" class="col-md-6">Price</label>
                          <div class="col-md-12">
                              <div class="form-control-wrapper"><input type="number" class="form-control" id="inputPrice" placeholder="Enter price"><span class="material-input"></span></div>
                          </div>
                      </div>
                    
                      <div class="form-group">
                          <label for="inputBottles" class="col-md-6">No. of Bottles</label>
                          <div class="col-md-12">
                              <div class="form-control-wrapper"><input type="number" class="form-control" id="inputBottles" placeholder="Enter no. of bottles"><span class="material-input"></span></div>
                          </div>
                      </div>

                       <div class="form-group">
                          <label for="inputExpense" class="col-md-6">Expense</label>
                          <div class="col-md-12">
                              <div class="form-control-wrapper"><input type="number" class="form-control" id="inputExpense" placeholder="Enter lifespan"><span class="material-input"></span></div>
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="inputDate" class="col-md-6">Date</label>
                          <div class="col-md-12">
                              <div class="form-control-wrapper"><input type="inputDate" class="form-control" id="expense" placeholder="Enter lifespan"><span class="material-input"></span></div>
                          </div>
                      </div>


                    <div class="form-group">
                          <label for="inputStatus" class="col-md-6">Status</label>
                          <div class="col-md-12">
                              <div class="form-control-wrapper"><select class="form-control" id="selectStatus">
                                    <option>Valid</option>
                                    <option>Invalid</option>
                                </select><span class="material-input"></span></div>
                          </div>
                      </div>


                  </fieldset>


      </form>


    <div class="icon-preview">
      <a class="btn btn-primary pull-right btn-md">Add</a>
      <br>
    </div>

  
  </div>
</div>

    <!-- RIGHT PANEL -->

    <div class="panel panel-right col-md-8">
        <div class="panel-body">

    <!-- START OF TABLE -->    

      <table class="table table-striped table-hover ">

        <thead>
          <tr class="labels">
            <th>Product Name</th>
            <th>Size</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Bottles</th>
            <th>Expense</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td>Coke</td>
            <td>1L</td>
            <td>Coca-Cola</td>
            <td>400</td>
            <td>35.00</td>
            <td>240.00</td>
            <td>12/13/2014</td>
            <td>Valid</td>
          </tr>

          <tr>
            <td>Royal</td>
            <td>12oz</td>
            <td>Coca-Cola</td>
            <td>400</td>
            <td>35.00</td>
            <td>240.00</td>
            <td>12/13/2014</td>
            <td>Valid</td>
          </tr>

          <tr>
            <td>Royal</td>
            <td>12oz</td>
            <td>Coca-Cola</td>
            <td>400</td>
            <td>35.00</td>
            <td>240.00</td>
            <td>12/13/2014</td>
            <td>Valid</td>
          </tr>

          <tr>
            <td>Coke</td>
            <td>1L</td>
            <td>Coca-Cola</td>
            <td>400</td>
            <td>35.00</td>
            <td>240.00</td>
            <td>12/13/2014</td>
            <td>Valid</td>
          </tr>

          <tr>
            <td>Coke</td>
            <td>1L</td>
            <td>Coca-Cola</td>
            <td>400</td>
            <td>35.00</td>
            <td>240.00</td>
            <td>12/13/2014</td>
            <td>Valid</td>
          </tr>

          <tr>
            <td>Pale Pilsen</td>
            <td>1L</td>
            <td>SMB</td>
            <td>400</td>
            <td>35.00</td>
            <td>240.00</td>
            <td>12/13/2014</td>
            <td>Valid</td>
          </tr>

        </tbody>

      </table>

      
    <div class="icon-preview">
      <a class="btn btn-primary pull-right btn-md">Add</a>
      <br>
    </div>


    <!-- PRINT ICON -->
    <br><br>
    <div class="form-group" align="right">
        <div class="icon-preview"><a class="btn btn-success pull-right btn-md" ><i class="mdi-action-print"></i></a></div>
    </div>
    <br>


</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->

