
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Bad Orders </h1>
    </div>


    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search">
                                <form method="get" action="/search" id="search" ng-hide="addBadOrderForm || noBadOrders">
                                    <input name="q" ng-model="search.$" type="text" size="50" placeholder="SEARCH" />
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-click="showAddBadOrderForm(true)" ng-hide="addBadOrderForm  || noSKU ">
                                <h6><i class="mdi-content-add-box"/> &nbsp; ADD BAD ORDERS</h6></a>

                        </li>
                        <li>
                            <a ng-click="pagePrint()" ng-hide="addBadOrderForm || noBadOrders">
                            <h6><i class="mdi-action-print center" /> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>

</div>


<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

 <div class="panel col-md-12" ng-show="addBadOrderForm">
    <div class="panel-body">

        <div class="col-md-4">
        <h4><i class="mdi-content-add-circle"></i> ADD BAD ORDER  </h4>
        <form class="form-horizontal" name="badOrderForm" ng-submit="addProduct(product)" novalidate>
            <fieldset>

           <div class="alert alert-warning" ng-show="(badOrderForm.inputCases.$dirty && badOrderForm.inputCases.$invalid) || (badOrderForm.inputReason.$invalid && badOrderForm.inputReason.$dirty) || (badOrderForm.inputBottles.$invalid && badOrderForm.inputBottles.$dirty)">

                    <div class="icon-preview"><i class="mdi-alert-error"></i><span></span> Some fields are empty or incorrect.</div> 
                    </div>

                 <div ng-show="hasError" class="alert alert-dismissable alert-danger">
                     <button type="button" class="close" ng-click="showErrorMessage(false)">×</button>
                     <strong>{{errorMessage}}</strong>
                </div> 

                <!-- <div class="form-group">
                    <label for="select" class="col-md-3">Line</label>

                    <div class="col-md-12">
                        <select class="form-control" ng-model="product.bay" ng-options="bay as combineBay(bay) for bay in bays">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="select" class="col-md-3">SKU</label>

                    <div class="col-md-12" ng-hide="noSKU">
                        <select class="form-control" ng-model="product.sku" ng-options="sku as combined(sku) for sku in skuList">
                        </select>
                    </div>
                    <div class="col-md-12" ng-show="noSKU">
                      No Employee, Add first!
                    </div>
                </div> -->

                <div class="form-group" ng-show="products.length === 0">
                        <label for="select" class="col-md-12" >Company</label>
                        <div class="col-md-12">
                            <select class="form-control" ng-change="changeCompany()" ng-model="companySelected" ng-init="companySelected = companies[0]">
                              <option ng-repeat="company in companies" value="{{company}}">{{company}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="select" class="col-md-12">Safe Keeping Unit (SKU)</label>
                        <div class="col-md-12">
                            <select class="form-control" ng-model="product.sku" ng-change="getBays(product.sku)" ng-options="sku as combine(sku) for sku in skuList | filter: companySelected" required>
                                <option value="" disabled>Select SKU</option>
                            </select>
                        </div>
                    </div>

      
                    <div class="form-group">
                        <label for="select" class="col-md-3">Line</label>
                        
                        <div class="col-md-12" ng-hide="noBays">
                            <select class="form-control" ng-model="product.bay" ng-options="bay as combineBay(bay) for bay in bays | filter: companySelected">
                              <option value="" disabled>Select Line</option>
                            </select>
                        </div>

                         <div class="col-md-12" ng-show="noBays">
                            No Line Available
                        </div>
                    </div>

                <div class="form-group">
                    <label for="inputOwnerName" class="col-md-2 control-label">Cases</label>

                    <div class="col-md-12">
                        <input type="number" name="inputCases" min="0" class="form-control" placeholder="Enter the number of cases."
                        ng-model="product.cases" required>

                         <strong class="fbackMsg" ng-show="badOrderForm.inputCases.$dirty && badOrderForm.inputCases.$invalid"> Cases required! Enter numbers only. </strong>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputOwnerName" class="col-md-2 control-label">Bottles</label>

                    <div class="col-md-12">
                        <input type="number" name="inputBottles" min="0" max="" class="form-control" placeholder="Enter the number of bottles."
                        ng-model="product.bottles" required>

                        <strong class="fbackMsg" ng-show="badOrderForm.inputBottles.$dirty && badOrderForm.inputBottles.$invalid"> Bottles required! Enter numbers only. </strong>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmployeeName"  class="col-md-2 control-label">Accountable</label>

                    <div class="col-md-12" ng-hide="noEmployees">

                    <!-- Error Message -->
                        <select class="form-control" ng-model="accountable" ng-options="emp as fullName(emp) for emp in employees">
                        </select>
                    </div>

                    <div class="col-md-12" ng-show="noEmployees">

                    No Employee, Add first!
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAddress" class="col-md-2 control-label">Reason</label>

                    <div class="col-md-12">
                        <textarea name="inputReason"  cols="53" rows="4" ng-model="product.reason" required></textarea>

                          <strong class="fbackMsg" ng-show="badOrderForm.inputReason.$invalid && badOrderForm.inputReason.$dirty"> Reason required! </strong>
                    </div>
                </div>

                <div class="alert alert-dismissable alert-danger" ng-show="itemExistingError">
                  <button type="button" class="close" ng-click="showItemExistingError(false)">×</button>
                  <strong>{{itemExisting}}</strong>
              </div> 

              <div class="form-group rightalign">
                <button type="submit" class="btn btn-primary" ng-disabled="badOrderForm.$invalid">Add</button>
            </div>

        </fieldset>
    </form>
    </div>


    <div class="col-md-8">
        <div class="form-group" >
            <legend class="col-md-2 pull-right">
            <u class="doublebig">{{totalExpense | currency:"₱"}}</u></legend>
            <legend class="col-md-4 pull-right control-label">Total Expense</legend>
        </div>

        <br/>

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                  <th>SKU&nbsp;
                  </th>

                  <th>Cases&nbsp;
                  </th>

                  <th>Bottles&nbsp;
                  </th>
                  
                  <th>Expense&nbsp;
                  </th>
                  
                  <th>Reason</th>
                  
                  <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="product in products | orderBy: sortCriteria">
                    <td width="15%">{{product.sku_name}}</td>
                    <td width="15%">{{product.cases}}</td>
                    <td width="15%">{{product.bottles}}</td>
                    <td width="15%">{{product.expense | currency:"₱"}}</td>
                    <td width="15%">{{product.reason}}</td>
                    <td><button ng-click="deleteProduct($index)" class="btn btn-primary btn-xs ">Delete</button></td>
                </tr>

                <!-- DON'T REMOVE CODE BELOW -->

            </tbody>
        </table>

        <form name="submitBadOrderForm" ng-submit="submitBadOrders()" novalidate>

            <br/>

            

          <br/>
          <br/>

          <div class="icon-preview">
            <div class="form-group rightalign">
              <button type="submit" class="btn btn-primary" ng-disabled="submitBadOrderForm.$invalid || !products.length">Submit</button>  
              <button type="button" class="btn btn-default" ng-click="showAddBadOrderForm(false)">Cancel</button>
            </div>
            </div>
         </form>

         <br/>

    </div>
</div>
</div>

<!-- User's Input table -->


<!-- RIGHT PANEL -->

<div class="panel col-md-12" ng-hide = "addBadOrderForm">
    <div class="panel-body">

        <!-- START OF TABLE -->    
        <div ng-show="noSKU" align="center">
          <h3><strong>NO SKU IN INVENTORY!
            <small> <br/>Please purchase first.</small>
          </strong></h3>
        </div>

        <div ng-show="noBadOrders && !noSKU" align="center">
          <h3><strong>NO BAD ORDERS!
          </strong></h3>
        </div>

        <table ng-hide="noSKU || noBadOrders" class="table table-striped table-hover ">

            <thead>
              <tr class="labels">
                <th>
                  <a href="" ng-click="sortCriteria='id'; reverseSort = !reverseSort" class="thlink">
                    Bad Order #
                    <span ng-show="sortCriteria == 'id'">
                      <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                      <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                    </span>
                  </a>
                </th>

                               
                <th>
                  <a href="" ng-click="sortCriteria='accountable'; reverseSort = !reverseSort" class="thlink">
                    Accountable
                    <span ng-show="sortCriteria == 'accountable'">
                      <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                      <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                    </span>
                  </a>
                </th>
                
                <th>
                  <a href="" ng-click="sortCriteria='date'; reverseSort = !reverseSort" class="thlink">
                    Date
                    <span ng-show="sortCriteria == 'date'">
                      <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                      <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                    </span>
                  </a>
                </th>

                <th style="text-align: right">
                  <a href="" ng-click="sortCriteria='expense'; reverseSort = !reverseSort" class="thlink">
                    Expense
                    <span ng-show="sortCriteria == 'expense'">
                      <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                      <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                    </span>
                  </a>
                </th>

            </tr>
        </thead>

        <tbody>
          <tr dir-paginate="badOrder in badOrdersList | filter: search | orderBy: sortCriteria: reverseSort | itemsPerPage: 10" ng-click="getBadOrderDetails(badOrder.id)"  data-toggle="modal" data-target="#myModal">
            <td width="10%">{{badOrder.id}}</td>
            <td width="30%">{{badOrder.accountable}}</td>
            <td width="20%">{{badOrder.date}}</td>
            <td align="right" width="25%">{{badOrder.expense | currency:"₱"}}</td>

        </tr>
    </tbody>

</table>

<div align="center">
<dir-pagination-controls
  max-size="7"
  boundary-links="true"
  directional-links="true">
  </dir-pagination-controls>
</div>

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="viewBadOrderDetails">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showViewBadOrderDetails(false)"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bad order details</h4>
      </div>
      <div class="modal-body">
         <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Cases</th>
                    <th>Bottles</th>
                    <th>Reason</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="badOrder in badOrderDetails">
                    <td>{{badOrder.sku_id.sku_name + " " + badOrder.sku_id.size}}</td>
                    <td>{{badOrder.cases}}</td>
                    <td>{{badOrder.bottles}}</td>
                    <td>{{badOrder.reason}}</td>
                </tr>

                <!-- DON'T REMOVE CODE BELOW -->

            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="showViewBadOrderDetails(false)">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

<div class="snackbar-container" data-snackbar="true"></div>

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->