<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Bays </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search">
                                <form method="get" action="/search" id="search">
                                    <input name="q" type="text" size="50" placeholder="SEARCH" ng-hide="noBays || addBayForm || editOrDeleteBayForm"/>
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-hide="addBayForm" ng-click="showAddBayForm(true)">
                                <h6><i class="mdi-content-add-box"/> &nbsp; ADD BAY</h6></a>

                        </li>
                         <li>
                            <a ng-hide="noBays || addBayForm || editOrDeleteBayForm">
                            <h6><i class="mdi-action-print center" /> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

    <!-- LEFT PANEL -->
    <div ng-class="addBayForm ? 'col-xs-12 col-md-4' : ''">
    <div class="panel" ng-show="addBayForm">
        <div class="panel-body">

        <legend>ADD BAY</legend>

            <form class="form-horizontal" name="bayForm" ng-submit="addBay(bay)" novalidate>
                <fieldset>

                    <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-4">Bay name</label>  
                        <div class="col-md-12"><input type="text" maxlength="2" class="form-control" placeholder="Enter bay name." ng-model="bay.bay_name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-4">Bay Label</label>  
                          <div class="col-md-12"><input type="text" class="form-control" placeholder="Enter bay label." ng-model="bay.bay_label" required>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-4">Bay Limit</label>  
                          <div class="col-md-12"><input type="number" min="0" class="form-control" placeholder="Enter bay limit (case)." ng-model="bay.bay_limit" required> 
                        </div>
                    </div>


                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary" ng-disabled="customerForm.$invalid">Add</button>
                        <button type="button" class="btn btn-default" ng-click="showAddBayForm(false)">Cancel</button> 
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
    </div>

    <div ng-class="editOrDeleteBayForm ? 'col-xs-12 col-md-4' : ''">
    <div class="panel" ng-show="editOrDeleteBayForm">

        <ul class="nav nav-tabs col-md-12">
                        <li>
                            <a ng-click="setEditBayTab(true)">Edit Bay</a>
                        </li>
                        <li>
                            <a ng-click="setEditBayTab(false)">Delete Bay</a>
                        </li>
                    </ul>

        <div class="panel-body" ng-show="editBayTab">

          <legend>EDIT BAY</legend>

          <form class="form-horizontal" name="editBayForm" ng-submit="editBay(bayEdit)" novalidate>
                <fieldset>

                    <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-4">Pile Name</label>  
                        <div class="col-md-12"><input type="text" class="form-control" id="inputEstablishmentName" placeholder="Enter establishment name." ng-model="bayEdit.bay_name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-4">Bay Label</label>  
                          <div class="col-md-12"><input type="text" class="form-control" placeholder="Enter bay label." ng-model="bayEdit.bay_label" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-4">Bay Limit</label>  
                          <div class="col-md-12"><input type="number" min="0" class="form-control" placeholder="Enter bay label." ng-model="bayEdit.bay_limit" required>
                        </div>
                    </div>

                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary" ng-disabled="editBayForm.$invalid">Save</button>
                        <button type="button" class="btn btn-default" ng-click="showEditOrDeleteBayForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="panel-body" ng-hide="editBayTab">

          <legend>DELETE BAY</legend>

          <form class="form-horizontal" name="deleteBayForm" ng-submit="deleteBay(bayDelete)" novalidate>
                <fieldset>
                   
                    <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-4">Pile Name</label>  
                        <div class="col-md-12"><input type="text" class="form-control" id="inputEstablishmentName" placeholder="Enter establishment name." ng-model="bayDelete.bay_name" disabled>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-4">Bay Label</label>  
                          <div class="col-md-12"><input type="text" class="form-control" placeholder="Enter bay label." ng-model="bayDelete.bay_label" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-4">Bay Limit</label>  
                          <div class="col-md-12"><input type="number" min="0" class="form-control" placeholder="Enter bay label." ng-model="bayDelete.bay_limit" disabled>
                        </div>
                    </div>
                    
                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-default" ng-click="showEditOrDeleteBayForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>   
        </div>
    </div>
    </div>

    <!-- RIGHT PANEL -->
    <div ng-class="addBayForm || editOrDeleteBayForm? 'col-xs-12 col-md-8' : ''">
    <div class="panel">
        <div class="panel-body">


    <!-- START OF TABLE -->  
    <div ng-show="noBays" align="center">
          <h3><strong>NO BAYS!</strong></h3>
    </div>   

         <div ng-hide="noBays">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th width="35%">Bay name</th>
                        <th width="35%">No. of cases in Bay</th>
                        <th width="30%">Limit</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="bay in bays" ng-click="bayClicked(bay)">
                        <td>Bay {{bay.bay_name}}</td> 
                        <td>{{getBayCount(bay.id)}}</td>
                        <td>{{bay.bay_limit}}</td>
                    </tr>

                    <!-- DON'T REMOVE CODE BELOW -->

                </tbody>
            </table>
        </div>

        </div>

    <!-- END OF TABLE -->
    

    <!-- PRINT ICON -->


</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->
</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->
