<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Customers </h1>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

    <!-- LEFT PANEL -->

    <div class="panel panel-left col-md-4" ng-show="customerOrders">
      <table class="table table-striped table-hover ">
            <tr>
                <th>Date</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="order in orders">
                <td>{{order.date_received}}</td>
                <td>{{order.status}}</td>
            </tr>
      </table>  
    </div>

    <!-- RIGHT PANEL -->

    <div class="panel panel-right col-md-8">
        <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search by:">
            </form>
        <div class="panel-body">

    <!-- START OF TABLE -->           

            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Establishment Name</th>
                        <th>Owner Name</th>
                        <th>Address</th>
                        <th>Distance Rating</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="customer in customers" ng-click="getCustomerOrders(customer.id)">
                        <td>{{customer.establishment_name}}</td>
                        <td>{{customer.owner_name}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.distance_rating}}</td>
                    </tr>

                    <!-- DON'T REMOVE CODE BELOW -->

                </tbody>
            </table>

            <div class="icon-preview">
              <a class="btn btn-primary pull-right btn-md" ng-click="showAddCustomerForm(true)">Add</a>
            <br>
            </div>
        </div>

    <!-- END OF TABLE -->
    

    <!-- PRINT ICON -->
    <br><br>
    <div class="form-group" align="right">
        <div class="icon-preview"><a class="btn btn-success pull-right btn-md"><i class="mdi-action-print"></i></a></div>
    </div>
    <br><br>


</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->
