<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Daily Sales Stock Report (DSSR) </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <a ng-hide="">
                            <h6><i class="mdi-action-print center"/> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">


<!-- PANEL: LEFT -->

<div class="panel panel-left col-md-4">
    <div class="panel-body">
    
        <form class="form-horizontal">

              <fieldset class = "forminput">

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Beginning Inventory</label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{beginning_inventory}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Purchases (SIV) </label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{purchases}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Delivery Overview (STT) </label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{deliveries}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Ending Inventory</label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{ending_inventory}}" placeholder="" disabled=""
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Expenses</label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{expenses}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Empties</label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{empties}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Income</label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{income}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

              </fieldset>
        </form>
    </div>
</div>



<!--PANEL: RIGHT -->


<div class="panel panel-right col-md-8">
    <div class="panel-body">

      <table class="table table-striped table-hover ">
        
              <thead>
                  <tr>
                      <th>Products&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-expand-more downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-expand-less upa"></i></a></th>
                      <th>Size&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-expand-more downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-expand-less upa"></i></a></th>
                      <th>Quantity&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-expand-more downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-expand-less upa"></i></a></th>
                  </tr>

              </thead>
              
              <tbody>
                  <tr>
                      <td>Product content</td>
                      <td>Size content</td>
                      <td>Quantity content</td>
                  </tr>
                  <tr>
                      <td>Product content</td>
                      <td>Size content</td>
                      <td>Quantity content</td>
                  </tr>
                  <tr>
                      <td>Product content</td>
                      <td>Size content</td>
                      <td>Quantity content</td>
                  </tr>
              </tbody>

      </table>

    <!-- END OF TABLE -->
    

</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->

