<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> DSSR </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <a ng-hide="">
                            <h6><i class="mdi-action-print center"/> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">


<!-- PANEL: LEFT -->

<div class="panel panel-left col-md-3">
    <div class="panel-body">
    
        <form class="form-horizontal">

              <fieldset class = "forminput">

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Beginning Inventory</label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{beginning_inventory}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Ending Inventory</label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{ending_inventory}}" placeholder="" disabled=""
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Purchases (SIV) </label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{purchases}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Delivery Overview (STT) </label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{stt}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Expenses</label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{expenses}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Empties</label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{empties}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="disabledInput">Income</label>
                      <div class="form-control-wrapper">
                        <input class="form-control empty" id="disabledInput" type="text" value="{{income}}" placeholder="" disabled="">
                        <span class="material-input"></span></div>
                  </div>

              </fieldset>
        </form>
    </div>
</div>



<!--PANEL: RIGHT -->



<div class="panel panel-right col-md-9">

  <div class="form-group">
    <label class="col-md-4">Start Date</label> 
    <div class="col-md-12">
    <input type="date" name="start" class="form-control" ng-model="startDate" required>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4">End Date</label> 
    <div class="col-md-12">
    <input type="date" name="end" class="form-control" ng-model="endDate" required>
    </div>
  </div>

  <div class="col-md-2">
      <button class="btn btn-xs btn-default" type="button" ng-click="dssrGet()" ng-hide="noAddressesAvailable">Generate Report</button>
  </div>
  
  <div class="panel-body">

    <div class="panel-heading">
        <h3 class="panel-title"> Daily Sales Stock Report (DSSR) </h3>
    </div>
    <canvas id="bar" class="chart chart-bar" data="data"
    labels="labels"></canvas> 

  <!-- END OF TABLE -->
  

  </div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->

