<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Edit Account Info </h1>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

    <!-- RIGHT PANEL -->

    <div class="panel col-md-8">


        <div class="panel-body centered">

        <div class="panel truck-table truck-tableout col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">EDIT INFORMATION</h3>
            </div>

            <div class="panel-body">
                <div>



                    <table class="table table-striped table-hover">


                        <tr>
                            <td>Username:</td>
                            <td><input type="text"></td>
                        </tr>


                        <tr>
                            <td>First Name:</td>
                            <td><input type="text"></td>
                        </tr>
                        
                        <tr>
                            <td>Last Name:</td>
                            <td><input type="text"></td>
                        </tr>


                    </table>  
                </div>

            
            
            <div class="pull-right">
              <button class="btn btn-primary btn-xs">Save</button>

              <button class="btn btn-primary btn-xs">Cancel</button>
            </div>




            </div>

         </div>


        </div></div>






</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->
