<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Employees </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search"  ng-hide="addEmployeeForm || editOrDeleteEmployeeForm || noEmployees">
                                <form method="get" action="/search" id="search">
                                    <input name="q" ng-model="search.$" type="text" size="50" placeholder="SEARCH" />
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-click="showAddEmployeeForm(true)" ng-hide="addEmployeeForm">
                                <h6><i class="mdi-content-add-box"/> &nbsp; ADD EMPLOYEE</h6></a>

                        </li>
                        <li>
                            <a ng-click="pagePrint()" ng-hide="addEmployeeForm || editOrDeleteEmployeeForm || noEmployees">
                            <h6><i class="mdi-action-print center"/> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

    <!-- LEFT PANEL -->
    <div ng-class="addEmployeeForm ? 'col-xs-12 col-md-4' : ''">
    <div class="panel" ng-show="addEmployeeForm">
        <div class="panel-body">
            <h4><i class="mdi-content-add-circle"></i> ADD EMPLOYEE </h4>
            <form class="form-horizontal" name="employeeForm" ng-submit="addEmployee(employee)" novalidate>
                <fieldset>

                    <div class="alert alert-warning" ng-show="(employeeForm.inputFirstName.$dirty && employeeForm.inputFirstName.$invalid) || (employeeForm.inputLastName.$invalid && employeeForm.inputLastName.$dirty) || (employeeForm.inputOfficeName.$dirty && employeeForm.inputOfficeName.$invalid)" >

                    <div class="icon-preview"><i class="mdi-alert-error"></i><span></span> Some fields are empty or incorrect.</div>

                    </div>

                    <div class="form-group">
                
                        <label for="inputFirstName" class="col-md-4">First Name</label>

                        <div class="col-md-12">
                         <input type="text" name="inputFirstName" class="form-control" placeholder="Enter first name." ng-model="employee.emp_fname" required>

                         <strong class="fbackMsg" ng-show="employeeForm.inputFirstName.$dirty && employeeForm.inputFirstName.$invalid"> First name required! </strong>

                        </div>
                    </div>

                    <div class="form-group">

                        <label for="inputLastName" class="col-md-4">Last Name</label> 

                        <div class="col-md-12">
                        <input type="text" name="inputLastName" class="form-control" placeholder="Enter last name." ng-model="employee.emp_lname" required>

                        <strong class="fbackMsg" ng-show="employeeForm.inputLastName.$invalid && employeeForm.inputLastName.$dirty"> Last name required! </strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLastName" class="col-md-4">Office</label> 
                        <div class="col-md-12">
                        <input type="text" name="inputOfficeName" class="form-control" placeholder="Enter office name." ng-model="employee.office" required>

                        <strong class="fbackMsg" ng-show="employeeForm.inputOfficeName.$invalid && employeeForm.inputOfficeName.$dirty"> Office name required! </strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="select" class="col-md-3">Position</label>
                        <div class="col-md-12">
                            <select class="form-control" id="selectType" ng-model="employee.position" ng-init="employee.position = positions[0]">
                                <option ng-repeat="position in positions" value="{{position}}">{{position}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4">Status</label> 
                        <div class="col-md-12">
                        <select class="form-control" id="selectType" ng-model="employee.status" ng-init="employee.status = statuses[0]">
                                <option ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4">Hired Date</label> 
                        <div class="col-md-12">
                        <input type="date" name="inputHiredDate" class="form-control" ng-model="employee.hire_date" required>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4">End of Contract</label> 
                        <div class="col-md-12">
                        <input type="date" name="inputEndContract" class="form-control" ng-model="employee.end_contract" required>
                        </div>
                    </div>

                    

                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary" ng-disabled="employeeForm.$invalid">Add</button>
                        <button type="button" class="btn btn-default" ng-click="showAddEmployeeForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    </div>

    <div ng-class="editOrDeleteEmployeeForm ? 'col-xs-12 col-md-4' : ''">
    <div class="panel" ng-show="editOrDeleteEmployeeForm">

        <ul class="nav nav-tabs col-md-12">
                        <li>
                            <a ng-click="setEditEmployeeTab(true)"> <i class="mdi-editor-mode-edit"/>&nbsp; Edit Employee</a>
                        </li>
                        <li>
                            <a ng-click="setEditEmployeeTab(false)"><i class="mdi-action-delete"/>&nbsp;Delete Employee</a>
                        </li>
                    </ul>

        <div class="panel-body" ng-show="editEmployeeTab">
          <h4><i class="mdi-image-edit"></i> EDIT EMPLOYEE </h4>

          <form class="form-horizontal" name="editEmployeeForm" ng-submit="editEmployee(employeeEdit)" novalidate>
                <fieldset>
                        
                        <div class="alert alert-warning" ng-show="(editEmployeeForm.inputFirstName.$dirty && editEmployeeForm.inputFirstName.$invalid) || (editEmployeeForm.inputLastName.$invalid && editEmployeeForm.inputLastName.$dirty) || (editEmployeeForm.inputOffice.$invalid && editEmployeeForm.inputOffice.$dirty) || 
                        (employeeForm.inputHiredDate.$dirty && employeeForm.inputHiredDate.$invalid) || 
                        (employeeForm.inputEndContract.$dirty && employeeForm.inputEndContract.$invalid) || 
                        (employeeForm.inputStatus.$dirty && employeeForm.inputStatus.$invalid)">

                        <div class="icon-preview"><i class="mdi-alert-error"></i><span></span> Some fields are empty or incorrect.</div>

                        </div>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-md-4">First Name</label>

                        <div class="col-md-12">
                        

                        <input type="text" class="form-control" name="inputFirstName" placeholder="Enter first name." ng-model="employeeEdit.emp_fname" required>

                        <strong class="fbackMsg" ng-show="editEmployeeForm.inputFirstName.$dirty && editEmployeeForm.inputFirstName.$invalid"> First name required. </strong> 
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLastName" class="col-md-4">Last Name</label> 

                        <div class="col-md-12">
                           
                        

                        <input type="text" class="form-control" name="inputLastName" placeholder="Enter last name." ng-model="employeeEdit.emp_lname" required>

                        <strong class="fbackMsg" ng-show="editEmployeeForm.inputLastName.$invalid && editEmployeeForm.inputLastName.$dirty"> Last name required.</strong>

                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputLastName" class="col-md-4">Office</label> 

                        <div class="col-md-12">

                        <input type="text" class="form-control" name="inputOfficeName" placeholder="Enter office." ng-model="employeeEdit.office" required>

                        <strong class="fbackMsg" ng-show="editEmployeeForm.inputOfficeName.$dirty && editEmployeeForm.inputOfficeName.$invalid"> Please specify the Office name</strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="select" class="col-md-3">Position</label>
                        <div class="col-md-12">
                            <select class="form-control" ng-model="employeeEdit.position">
                                <option ng-repeat="position in positions" value="{{position}}">{{position}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4">Status</label> 
                        <div class="col-md-12">
                        <select class="form-control" id="selectType" ng-model="employeeEdit.status">
                                <option ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4">Hired Date</label> 
                        <div class="col-md-12">
                        <input type="date" name="inputHiredDate" class="form-control" ng-model="employeeEdit.hire_date" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4">End of Contract</label> 
                        <div class="col-md-12">
                        <input type="date" name="inputEndContract" class="form-control" ng-model="employeeEdit.end_contract" required>
                        </div>
                    </div>


                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary" ng-disabled="editEmployeeForm.$invalid">Save</button>
                        <button type="button" class="btn btn-default" ng-click="showEditOrDeleteEmployeeForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="panel-body" ng-hide="editEmployeeTab">
           <h4><i class="mdi-action-delete"></i> DELETE EMPLOYEE </h4>

          <form class="form-horizontal" name="deleteEmployeeForm" novalidate>
                <fieldset>

                    <div class="form-group">
                        <label for="inputFirstName" class="col-md-4">First Name</label>
                        <div class="col-md-12"><input type="text" class="form-control" id="inputFirstName" placeholder="Enter first name." ng-model="employeeDelete.emp_fname" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLastName" class="col-md-4">Last Name</label> 
                        <div class="col-md-12"><input type="text" class="form-control" id="inputLastName" placeholder="Enter last name." ng-model="employeeDelete.emp_lname" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLastName" class="col-md-4">Office</label> 
                        <div class="col-md-12"><input type="text" class="form-control" id="inputLastName" placeholder="Enter last name." ng-model="employeeDelete.office" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="select" class="col-md-3">Position</label>
                        <div class="col-md-12">
                            <select class="form-control" id="selectType" ng-model="employeeDelete.position" disabled>
                                <option ng-repeat="position in positions" value="{{position}}">{{position}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4">Status</label> 
                        <div class="col-md-12">
                        <select class="form-control" id="selectType" ng-model="employeeDelete.status" disabled>
                                <option ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4">Hired Date</label> 
                        <div class="col-md-12">
                        <input type="date" name="inputHiredDate" class="form-control" ng-model="employeeDelete.hire_date" disabled>

                        <strong class="fbackMsg" ng-show="employeeForm.inputHiredDate.$invalid && employeeForm.inputHiredDate.$dirty"> Hired date required! </strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4">End of Contract</label> 
                        <div class="col-md-12">
                        <input type="date" name="inputEndContract" class="form-control" ng-model="employeeDelete.end_contract" disabled>

                        <strong class="fbackMsg" ng-show="employeeForm.inputEndContract.$invalid && employeeForm.inputEndContract.$dirty"> End of contract required! </strong>
                        </div>
                    </div>

                    <div class="form-group rightalign">
                        <button type="button" class="btn btn-primary" ng-click="open(employeeDelete)">Delete</button>
                        <button type="button" class="btn btn-default" ng-click="showEditOrDeleteEmployeeForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>   
        </div>
    </div>
    </div>

    <!-- RIGHT PANEL -->
    <div ng-class="addEmployeeForm || editOrDeleteEmployeeForm ? 'col-xs-12 col-md-8' : ''">
    <div class="panel">
        <div class="panel-body">

        <div ng-show="noEmployees" align="center">
          <h3><strong>NO EMPLOYEES!</strong></h3>
        </div>

    <!-- START OF TABLE -->            
        <div ng-hide="noEmployees">
            <table class="table table-striped table-hover" >
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="sortCriteria='emp_fname'; reverseSort = !reverseSort" class="thlink">
                                First Name
                                <span ng-show="sortCriteria == 'emp_fname'">
                                  <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                  <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>
                            
                        <th>
                            <a href="" ng-click="sortCriteria='emp_lname'; reverseSort = !reverseSort" class="thlink">
                                Last Name
                                <span ng-show="sortCriteria == 'emp_lname'">
                                  <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                  <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                          </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortCriteria='office'; reverseSort = !reverseSort" class="thlink">
                                Office
                                <span ng-show="sortCriteria == 'office'">
                                  <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                  <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortCriteria='position'; reverseSort = !reverseSort" class="thlink">
                                Position
                                <span ng-show="sortCriteria == 'position'">
                                  <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                  <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortCriteria='status'; reverseSort = !reverseSort" class="thlink">
                                Status
                                <span ng-show="sortCriteria == 'status'">
                                  <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                  <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortCriteria='hire_date'; reverseSort = !reverseSort" class="thlink">
                                Hired Date
                                <span ng-show="sortCriteria == 'hire_date'">
                                  <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                  <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortCriteria='end_contract'; reverseSort = !reverseSort" class="thlink">
                                End Of contract
                                <span ng-show="sortCriteria == 'end_contract'">
                                  <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                  <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>

                    </tr>
                </thead>

                <tbody>
                    <tr dir-paginate="employee in employees | filter: search | orderBy:sortCriteria:reverseSort | itemsPerPage: 10" ng-click="employeeClicked(employee)">
                        <td width="15%">{{employee.emp_fname}}</td>
                        <td width="15%">{{employee.emp_lname}}</td>
                        <td width="15%">{{employee.office}}</td>
                        <td width="15%">{{employee.position}}</td>
                        <td width="15%">{{employee.status}}</td>
                        <td width="10%">{{employee.hire_date}}</td>
                        <td width="25%">{{employee.end_contract}}</td>
                    </tr>

                </tbody>
            </table>

            <div align="center">
            <dir-pagination-controls
                max-size="7"
                boundary-links="true"
                directional-links="true">
            </dir-pagination-controls>
        </div>
            
        </div><!-- END OF TABLE -->
    </div>


</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->
<div class="snackbar-container" data-snackbar="true"></div>
</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->


<!-- Modal -->
<script type="text/ng-template" id="employeeModalDelete.html">
      <div class="modal-dialog">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Employee</h4> 
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this employee?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Yes</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
      </div>
</script>