<!--START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Load Out </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search" ng-hide="noLoadOut">
                                <form method="get" action="/search" id="search">
                                    <input name="q" ng-model="search.$" type="text" size="50" placeholder="SEARCH" />
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-click="showAddLoadOutBox(true)">
                              <h6><i class="mdi-content-add-box"/>
                              &nbsp;ADD LOUD OUT&nbsp;</h6></a>
                        </li>

                        <li>
                            <a ng-hide="noLoadOut" ng-click="pagePrint()">
                            <h6><i class="mdi-action-print center"/> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>




</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

     <!-- LEFT PANEL -->
<div ng-class="addLoadOutBox ? 'col-xs-12 col-md-6' : ''">
    <div class="loadouthide">
      <div class="panel" ng-show="addLoadOutBox">
        <div class="panel-body" > 

          <!-- ng-hide="noCustomerOrdersAvailable" -->

        <h4><i class="mdi-content-add-circle"></i> ADD LOAD OUT </h4>   

      <div ng-show="existingAddressInRouteError">{{existingAddressInRoute}}</div>


        <div  class="form-group">
          <form name="loadOutAddForm" ng-submit="addLoadOut(loadOut)" novalidate>

              <div class="form-group">
                <label class="col-md-4">Establishment Name:</label>
                
                <div ng-show="noCustomerOrdersAvailable" class="col-md-6">
                  NO CUSTOMER ORDERS, ADD FIRST!
                </div>
                <div class="col-md-6" ng-hide="noCustomerOrdersAvailable">
                  <select class="form-control" ng-model="ordersAvailableList" ng-options="orderAvailable as orderAvailable.customer_id.establishment_name for orderAvailable in customerOrdersAvailable">
                  </select>
                </div>
                  
                     <button class="btn btn-xs btn-default pull-right" type="button" ng-click="addAvailableCustomer(ordersAvailableList)" ng-hide="noCustomerOrdersAvailable">ADD</button>
              </div>

              <br>
              <br>
              
              <div class = "form-group" ng-hide="noTrucks">
                <label class="col-md-2  control-label">Truck:</label>

                <div class = "col-md-8"  ng-hide="noTrucks">
                   <select class="form-control" ng-model="loadOut.truck" ng-options=" truck as truckName(truck) for truck in trucks" 
                ng-change="dropdownChange(loadOut.truck)" required>
                  </select>
                </div>

              </div>

                <div class = "col-md-8" ng-show="noTrucks">
                  NO TRUCKS, ADD TRUCK FIRST
                </div>
            
          <br>
              <div class="form-group " ng-hide="noTrucks">
                     <label class="col-md-3 control-label">Load Out #: &nbsp; </label>

                  <div class="col-md-7">
                    <select class="form-control " ng-model="loadOut.loadout_no" ng-init="loadOut.loadout_no = loadOutNumbers[0]">
                      <option ng-repeat="number in loadOutNumbers" value="{{number}}">{{number}}
                      </option>
                   </select>
                </div>
              </div>
                
              
             
              
              <br><br><br>
              <div class="routeBox" > <br>

               <button  style = "padding: 4px; padding-left:8px; margin: 4px 4px;" ng-repeat="orderInAddLoudOut in loadOut.orders" class="btn btn-xs btn-danger"  ng-click="deleteAvailableCustomer(orderInAddLoudOut)"> {{orderInAddLoudOut.customer_id.establishment_name}}&nbsp; &nbsp; <strong><i class="mdi-navigation-cancel"/></strong> </button>  &nbsp;
                </div>
             </div>

             <div class="form-group pull-right" >
                <br>
               <button ng-hide="noCustomerOrdersAvailable && loadOut.orders.length === 0" type="submit" ng-disabled="loadOutAddForm.$invalid || loadOut.orders.length === 0" class="btn btn-flat btn-primary">Add</button>

               <button type="button" ng-click="showAddLoadOutBox(false)" class="btn btn-xs btn-default">Cancel</button>
             </div>
          </form> 
        </div>
      </div>
     </div>
    </div>

    </div>

     <!-- Right Panel -->

      <div ng-class="addLoadOutBox || editOrDeleteBayForm? 'col-xs-12 col-md-6' : ''">

      <div class="panel">
        <div class="panel-body">

      <!-- loadoutbox --> 
      <div ng-show="noLoadOut"  align="center">
          <h3 ng-hide="addLoadOutBox"><strong>NO LOAD OUTS!</strong></h3>
      </div> 


       
       <div ng-hide="noLoadOut" ng-repeat="loadOut in loadOuts" ng-class="addLoadOutBox ? 'col-xs-12 col-md-12' : 'col-md-6'">
          <div class="panel-primary" >
              <div class="panel-heading" >
                <h3 class="panel-title">{{getTruckNumber(loadOut.truck_id)}} Load out #{{loadOut.loadout_number}}</h3>
              </div>

            <div class="rpanel panel-body" ng-hide="editIndex === $index">

             <div class="form-group">
              <label class="control-label">Establishment Name:</label>
                <div class = "col-md-offset-1" ng-repeat="customerOrder in loadOut.transactions"> {{customerOrder.customer_id.establishment_name}}
                </div>

                <div class="form-group pull-right" style="margin-bottom: -5px;">
                  <button ng-click="setEditLoadOut($index)" ng-hide="editIndex === $index" class=" btn btn-xs btn-primary" >EDIT</button>
                </div>
              </div>
                
            </div>
             

            <div class="rpanel panel-body" ng-show="editIndex === $index">
               <label class="col-md-4">Available Establishment:</label>
              <div ng-show="noCustomerOrdersAvailable" align="center">
                  NO CUSTOMER ORDER AVAILABLE
              </div>

              <div class="form-group" ng-hide="noCustomerOrdersAvailable">

                <div class="col-md-8">
                  <select class="form-control" ng-model="ordersAvailableListEdit" ng-options="orderAvailable as orderAvailable.customer_id.establishment_name for orderAvailable in customerOrdersAvailable">
                  </select>
                </div>
                
              </div>
              
              <div class="form-group">
              <label class="col-md-12 control-label">Establishment Name:</label>
                <div class="col-md-12 col-md-offset-1">
                <button  style = "padding: 4px; padding-left:8px; margin: 4px 4px;" ng-repeat="customerOrder in loadOut.transactions" class="btn btn-xs btn-danger"  ng-click="deleteOrderInLoadout(loadOut,customerOrder)"> {{customerOrder.customer_id.establishment_name}}&nbsp; &nbsp; <strong><i class="mdi-navigation-cancel"/></strong> </button>  &nbsp;
                </div>
              </div>


              
              <div class="form-group pull-right" style="margin-bottom: -5px;">
                   <br>

               <button ng-hide="noCustomerOrdersAvailable" class="btn btn-xs btn-primary" type="button" 
                     ng-click="editAvailableCustomer(ordersAvailableListEdit,loadOut.loadout_number,loadOut.id,loadOut.truck_id)">ADD</button>

              <button class="btn btn-xs btn-default" ng-show="editIndex === $index" ng-click="setEditLoadOut(-1)">DONE</button> 
            </div>
            </div>

           <br>
      </div>

       <br>
        <br>

    </div>


     </div>
    </div>
  </div>

</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->
<div class="snackbar-container" data-snackbar="true"></div>
</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->


<!-- <div style="background-color:red;" ng-repeat="address in addresses" ng-drag="true" ng-drag-data="address" ng-drag-success="onDragComplete($data,$event)">
  Draggable div
</div>

<div style="background-color:green;width:100%;height:200px;" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" >
  Drop area
</div>