
<!-- FM MARKETING BANNER -->

<div class="navbar fmbanner">
    <div class="navbar-inner">
        <div class="pull-right"></div>
    </div>
</div>

<!-- NAVIGATION: TITLE/BACKGROUND HEADER -->

<div class="navbar navbar-hello big-margin navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ui-sref="admin.dssr" class="navbar-brand" href="javascript:void(0)"><img src="../../images/fmicon.png" class="img-responsive"></a>
    </div>

<!-- NAVIGATION: LEFT SIDE -->

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <div ng-switch="userType">

        
            
              <div ng-switch-when="admin">
                <ul class="nav navbar-nav navbar-left">


                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        &nbsp; Inventory &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="admin.bays" class="nav-main">Bays</a></li>
                        <li><a ui-sref="admin.products" class="nav-main">Products</a></li>
                        <li><a ui-sref="encoder.purchases" class="nav-main">Purchases</a></li>
                        <li><a ui-sref="encoder.sku" class="nav-main">SKU</a></li>
                        <li><a ui-sref="admin.inventory" class="nav-main">View Inventory</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        &nbsp; Delivery &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-main">Routes</a></li>
                        <li><a ui-sref="admin.trucks" class="nav-main">Trucks</a></li>
                        <li><a ui-sref="encoder.orders" class="nav-main">Orders</a></li>
                        <li><a ui-sref="admin.customers" class="nav-main">Customers</a></li>
                        <li><a class="nav-main">Load Out</a></li>
                        <li><a ui-sref="encoder.bad-order" class="nav-main">Bad Orders</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        &nbsp; Sales &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="cashier.pos" class="nav-main">Warehouse Sales</a></li>
                        
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        &nbsp; Reports &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                         <li><a class="nav-main">Transaction History</a></li>
                         <li><a ui-sref="checker.tally" class="nav-main">Tally</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        &nbsp; Personnel &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="admin.accounts" class="nav-main">Accounts</a></li>
                        <li><a ui-sref="admin.employee" class="nav-main">Employee</a></li>
                    </ul>
                </li>
                </li>
                </ul>
            </div>
            
             <div ng-switch-when="encoder">
                <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        &nbsp; Inventory &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="encoder.sku" class="nav-main">SKU</a></li>
                        <li><a ui-sref="encoder.purchases" class="nav-main">Purchases</a></li>
                        <li><a ui-sref="admin.inventory" class="nav-main">View Inventory</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        &nbsp; Delivery &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="encoder.orders" class="nav-main">Orders</a></li>
                        <li><a ui-sref="admin.customers" class="nav-main">Customers</a></li>
                        <li><a class="nav-main">Load Out</a></li>
                        <li><a ui-sref="encoder.bad-order" class="nav-main">Bad Orders</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        &nbsp; Reports &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-main">Transaction History</a></li>
                    </ul>
                </li>
                </ul>   
              </div>

            <div ng-switch-when="cashier">
                    <ul class="dropdown-menu">
                        <li><a ui-sref="cashier.pos" class="nav-main"></a></li>    
                    </ul>
                </li>
            </div>
      </div>

<!-- NAVIGATION: RIGHT SIDE -->

         <ul class="nav navbar-nav navbar-right">
            <li><img src="../../images/user.png" class="user"></li>
            <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        &nbsp; {{userName}} &nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-main">Edit Profile</a></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
        </ul>


    </div>

</div>

<!-- END OF NAIVGATION -->


<!-- START OF CONTENT -->

<div ui-view="mainContent"></udiv>

<!-- START OF FOOTER  -->


<!-- PA EPAL LANG | "ENDER" -->
<div class="row clearfix">
</div>

<!-- START OF COPYRIGHT FOOTER  -->

    <footer class="text-center">
       <div class="row">
          <div class="col-md-12">
                <br><font color='white'>
                123 Brookside, Imelda Village, Baguio City, Philippines 2600
                <br>
                Copyright &copy; FM Marketing
                <br></font>
             <br>
         </div>
     </div>
    </footer>

<!-- END OF COPYRIGHT FOOTER  -->


</div> <!-- END FOOTER  -->





