<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Customer Orders</h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <a ng-click="pagePrint()" ng-hide="addOrderForm || noOrders || editOrDeleteForm">
                            <h6><i class="mdi-action-print center"/> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">


    <!-- RIGHT PANEL -->
    <div class="panel col-md-12">
        <div class="panel-body">

        <div class="col-md-12"> 

            <h3>{{order.order.customer_id.establishment_name | uppercase}}</h3>

            <div class="col-md-6">
                <label>Owner Name:</label> {{order.order.customer_id.owner_name }} <br/>
                <label>Address: </label> {{order.order.customer_id.address}} <br/>
            </div>
            <div class="col-md-6">
                <label>Order No.: </label> {{order.order.id}}<br/>
                <label>Order Date/Time: </label> {{order.order.createdAt}}<br/> <br/><br/>
            </div>



        </div>        
        

    <!-- START OF TABLE -->      
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="sortCriteria='date_received'; reverseSort = !reverseSort" class="thlink">
                                Product
                                <span ng-show="sortCriteria == 'date_received'">
                                    <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                    <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                      </th>
                      <th>
                            <a href="" ng-click="sortCriteria=''; reverseSort = !reverseSort" class="thlink">
                                Number of Cases
                                <span ng-show="sortCriteria == 'supplieragent_name'">
                                    <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                    <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortCriteria=''; reverseSort = !reverseSort" class="thlink">
                               Price per Case
                                <span ng-show="sortCriteria == 'supplieragent_name'">
                                    <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                    <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortCriteria=''; reverseSort = !reverseSort" class="thlink">
                                Net Amount
                                <span ng-show="sortCriteria == 'supplieragent_name'">
                                    <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                    <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortCriteria='supplieragent_name'; reverseSort = !reverseSort" class="thlink">
                                Price Per bottle
                                <span ng-show="sortCriteria == 'supplieragent_name'">
                                    <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                    <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortCriteria='supplieragent_name'; reverseSort = !reverseSort" class="thlink">
                                Retail Profit
                                <span ng-show="sortCriteria == 'supplieragent_name'">
                                    <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                    <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>

    
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="prod in order.products">
                        <td>{{prod.sku_id.brand_name + " " + prod.sku_id.sku_name + " " + prod.sku_id.size}}</td>
                        <td>{{prod.cases}}</td>
                        <td>{{prod.sku_id.pricepercase}}</td>
                        <td>{{prod.sku_id.pricepercase * prod.cases}}</td>
                        <td>{{prod.sku_id.priceperbottle}}</td>
                        <td>{{(prod.sku_id.priceperbottle * prod.sku_id.bottlespercase)*(prod.cases) - (prod.sku_id.pricepercase * prod.cases)}}</td>
                    </tr>

                </tbody>
            </table>

            <br/>
            <br/>

            <div class="form-group">
                <legend align="right" class="col-md-2 pull-right">
                    <u class="doublebig">{{order.total_amount | currency:"₱"}}</u>
                </legend>
                <legend class="col-md-2 pull-right control-label">Total Amount</legend>
            </div>
   

    <!-- END OF TABLE -->
    


  </div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->
