<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Orders </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search" ng-hide="noOrders">
                                <form method="get" action="/search" id="search">
                                    <input name="q" ng-model="search.$" type="text" size="50" placeholder="SEARCH" ng-hide="addOrderForm || editOrDeleteOrderForm" />
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-click="showAddOrderForm(true)" ng-hide="addOrderForm">
                                <h6><i class="mdi-content-add-box"/> &nbsp; ADD ORDERS</h6></a>

                        </li>
                        <li>
                            <a ng-click="pagePrint()" ng-hide="addOrderForm || noOrders || editOrDeleteForm">
                            <h6><i class="mdi-action-print center"/> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

    <!-- LEFT PANEL -->
    <div class="panel col-md-12" ng-show="addOrderForm">
        <div class="panel-body">

            <div class="col-md-4">
           <h4><i class="mdi-content-add-circle"></i> ADD CUSTOMER ORDER </h4>
                       
                        <div ng-hide="orders.length !== 0">
                        <label for="select">Company</label>
                          
                            <select class="form-control" ng-change="changeCompany(companySelected)" ng-change="changeCompany(company)" ng-model="companySelected" ng-init="companySelected = companies[0]">
                              <option ng-repeat="company in companies" value="{{company}}">{{company}}</option>
                            </select>
                         </div>
           
           <div ng-show="companySelected === 'Coca-Cola'">
            <div ng-show="!currentHour">
                <h3><strong><center>Can't Add Coca-Cola Orders Yet<small></br>You can only add starting from 3pm to 6pm.</center></small></strong></h3> 
            </div>
            <div ng-hide="!currentHour">
            <form class="form-horizontal" name="cokeOrderForm" ng-submit="addOrder(order)" novalidate>
                <fieldset>

                        <div class="alert alert-warning" ng-show="(cokeOrderForm.orderEstablishmentName.$dirty && cokeOrderForm.orderEstablishmentName.$invalid) || (cokeOrderForm.orderOwnerName.$invalid && cokeOrderForm.orderOwnerName.$dirty) || (cokeOrderForm.orderAddressName.$invalid && cokeOrderForm.orderAddressName.$dirty)  || (cokeOrderForm.orderCases.$invalid && cokeOrderForm.orderCases.$dirty)">

                        <div class="icon-preview"><i class="mdi-alert-error"></i><span></span> Some fields are empty or incorrect.</div> 
                    </div>




                    <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-6">Establisment Name</label>  
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="orderEstablishmentName" placeholder="Enter establishment name." typeahead="cust.establishment_name for cust in uniqueCustomers | filter:$viewValue | limitTo:8" ng-model="order.establishment" typeahead-on-select="getOwnerName($item, $model, $label)" required>

                            <strong class="fbackMsg" ng-show="cokeOrderForm.orderEstablishmentName.$dirty && cokeOrderForm.orderEstablishmentName.$invalid">Please input Establishment Name</strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputOwnerName" class="col-md-6">Owner Name</label>
                        <div class="col-md-12"><input type="text" class="form-control" name="orderOwnerName" placeholder="Enter owner name." ng-model="order.owner" required>

                        <strong class="fbackMsg" ng-show="cokeOrderForm.orderOwnerName.$invalid && orderForm.orderOwnerName.$dirty"> Please input Owner Name</strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress" class="col-md-6">Address</label>
                        <div class="col-md-12">
                            <select class="form-control"  name="orderAddressName" id="selectType" ng-model="order.address" ng-options
                            ="address.address_name as address.address_name for address in addresses">
                            
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="select" class="col-md-6">Distance / Priority</label>
                        <div class="col-md-12">
                            <select class="form-control"  name="orderDistancePriority" id="selectType" ng-model="order.distance_rating" ng-init="order.distance_rating = distanceRatings[0]">
                                <option ng-repeat="distanceRating in distanceRatings" value="{{distanceRating}}">{{distanceRating}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress" class="col-md-6">Supplier Agent</label>
                        <div class="col-md-12"><input type="text" class="form-control" name="orderSupplierAgent" placeholder="Enter agent name." typeahead="agent for agent in uniqueAgents | filter:$viewValue | limitTo:8" ng-model="order.cokeagent_name" required>

                        <strong class="fbackMsg" ng-show="cokeOrderForm.orderSupplierAgent.$dirty && cokeOrderForm.orderSupplierAgent.$invalid"> Please input Supplier Agent </strong>
                        </div>
                    </div>

                    <hr style="margin-top:50px; border-top: 3px solid #202020;">

                    <div class="form-group">
                        <label for="select" class="col-md-12">Safe Keeping Unit (SKU)</label>
                        <div class="col-md-12">
                            <select class="form-control" ng-model="order.sku" ng-options="sku as combine(sku) for sku in skuList" required>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress" class="col-md-6">Cases</label>
                        <div class="col-md-12"><input type="number" min="1" class="form-control" placeholder="Enter number of cases." name="orderCases" ng-model="order.cases" required>

                        <strong class="fbackMsg" ng-show="cokeOrderForm.orderCases.$dirty && orderForm.orderCases.$invalid"> Invalid! Please input cases and numbers only. </strong>
                        </div>
                    </div>

                       <div class="alert alert-dismissable alert-success" ng-show="itemExistingError">
                      <button type="button" class="close" ng-click="showItemExistingError(false)">×</button>
                      <strong>{{itemExisting}}</strong>
                    </div> 

                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary" ng-disabled="cokeOrderForm.$invalid">Add</button>
                    </div>

                </fieldset>
            </form>
            </div>
            </div>

            <div ng-show="companySelected === 'SMB'">
            <form class="form-horizontal" name="orderForm" ng-submit="addOrder(order)" novalidate>
                <fieldset>

                        <div class="alert alert-warning" ng-show="(orderForm.orderEstablishmentName.$dirty && orderForm.orderEstablishmentName.$invalid) || (orderForm.orderOwnerName.$invalid && orderForm.orderOwnerName.$dirty) || (orderForm.orderAddressName.$invalid && orderForm.orderAddressName.$dirty)  || (orderForm.orderCases.$invalid && orderForm.orderCases.$dirty)">

                        <div class="icon-preview"><i class="mdi-alert-error"></i><span></span> Some fields are empty or incorrect.</div> 
                    </div>




                    <div class="form-group">
                        <label for="inputEstablishmentName" class="col-md-6">Establisment Name</label>  
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="orderEstablishmentName" placeholder="Enter establishment name." typeahead="cust.establishment_name for cust in uniqueCustomers | filter:$viewValue | limitTo:8" ng-model="order.establishment" typeahead-on-select="getOwnerName($item, $model, $label)" required>

                            <strong class="fbackMsg" ng-show="orderForm.orderEstablishmentName.$dirty && orderForm.orderEstablishmentName.$invalid">Please input Establishment Name</strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputOwnerName" class="col-md-6">Owner Name</label>
                        <div class="col-md-12"><input type="text" class="form-control" name="orderOwnerName" placeholder="Enter owner name." ng-model="order.owner" required>

                        <strong class="fbackMsg" ng-show="orderForm.orderOwnerName.$invalid && orderForm.orderOwnerName.$dirty"> Please input Owner Name</strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress" class="col-md-6">Address</label>
                        <div class="col-md-12">
                            <select class="form-control"  name="orderAddressName" id="selectType" ng-model="order.address" ng-options
                            ="address.address_name as address.address_name for address in addresses">
                            
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="select" class="col-md-6">Distance / Priority</label>
                        <div class="col-md-12">
                            <select class="form-control"  name="orderDistancePriority" id="selectType" ng-model="order.distance_rating" ng-init="order.distance_rating = distanceRatings[0]">
                                <option ng-repeat="distanceRating in distanceRatings" value="{{distanceRating}}">{{distanceRating}}</option>
                            </select>
                        </div>
                    </div>

                    <hr style="margin-top:50px; border-top: 3px solid #202020;">

                    <div class="form-group">
                        <label for="select" class="col-md-12">Safe Keeping Unit (SKU)</label>
                        <div class="col-md-12" ng-hide="noSKU">
                            <select class="form-control" ng-model="order.sku" ng-change="getSkuInventoryCount(order.sku)" ng-options="sku as combine(sku) for sku in skuList | filter:companySelected" required>
                            </select>
                        </div>
                        <div class="col-md-12" ng-show="noSKU">
                          NO SKU AVAILABLE
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputsmbOrderCases" class="col-md-6">Cases</label>
                        <div class="col-md-12"><input type="number" min="1" max="{{count}}" class="form-control" placeholder="Enter number of cases." name="smbOrderCases" ng-model="order.cases" required>

                        <strong class="fbackMsg" ng-show="orderForm.smbOrderCases.$dirty && orderForm.smbOrderCases.$invalid"> Enter numbers only. ({{count}}) available in inventory</strong>
                        </div>
                    </div>

                       <div class="alert alert-dismissable alert-danger" ng-show="itemExistingError">
                      <button type="button" class="close" ng-click="showItemExistingError(false)">×</button>
                      <strong>{{itemExisting}}</strong>
                    </div> 

                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary" ng-disabled="orderForm.$invalid">Add</button>
                    </div>

                </fieldset>
            </form>
            </div>


            </div>

            <div class="col-md-7 col-md-offset-1">

                 <div class="form-group" >
                     <legend class="col-md-2 pull-right">
                        <u class="doublebig">{{totalAmount | currency:"₱"}}</u>
                    </legend>
                    <legend class="col-md-4 pull-right control-label">Total Amount</legend>
                </div>
                <br>

            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th width="45%">SKU&nbsp;</th>
                        <th width="45%">Cases&nbsp;</th>
                        <th width="10%"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="order in orders">
                        <td>{{order.listName}}</td>
                        <td>{{order.cases}}</td>
                        <td><button class="btn btn-primary btn-xs" ng-click="deleteOrder($index)"><i class="mdi-action-delete"/> </button></td>
                    </tr>

                    <!-- DON'T REMOVE CODE BELOW -->

                </tbody>
            </table>

            <div class="icon-preview" >
                <div class="form-group rightalign" style="bottom:-100px;">
              <button type="button" class="btn btn-primary" ng-disabled="!orders.length || order.establishment == null || order.owner ==  null || order.cokeagent_name == null " ng-click="submitOrders()">Submit</button>  
              <button type="button" class="btn btn-default" ng-click="showAddOrderForm(false)">Cancel</button>
               </div>

            <br>
            </div>
            </div>
        </div>
    </div>

    <!-- RIGHT PANEL -->

    <div class="panel col-md-12" ng-hide="addOrderForm">
        <div class="panel-body" >
            
        <div ng-show="noSKU" align="center">
          <h3><strong>NO SKU!
            <small> <br/>Please add sku first.</small>
          </strong></h3>
        </div>

        <div ng-show="noOrders && !noSKU" align="center">
          <h3><strong>NO ORDERS
          </strong></h3>
        </div>

    <!-- START OF TABLE --> 
            <div class="form-group" ng-hide= "noOrders || noSKU">
              <label for="select" class="col-md-2">Number of rows:</label>
                <div class="col-md-1">
                    <select class="form-control" ng-init="noOfRows = '10'" ng-model="noOfRows">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                    </select>
                </div>
            </div>  


            <br>
            <br>       

            <table ng-hide="noSKU || noOrders" class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="sortCriteria='customer_id.establishment_name'; reverseSort = !reverseSort" class="thlink">
                              Establishment Name
                                <span ng-show="sortCriteria == 'customer_id.establishment_name'">
                                    <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                    <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                      </th>

                        <th>
                            <a href="" ng-click="sortCriteria='date_received'; reverseSort = !reverseSort" class="thlink">
                                Order Date
                                <span ng-show="sortCriteria == 'date_received'">
                                    <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                    <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                      </th>

                        <th>
                            <a href="" ng-click="sortCriteria='supplieragent_name'; reverseSort = !reverseSort" class="thlink">
                                Supplier Agent Name
                                <span ng-show="sortCriteria == 'supplieragent_name'">
                                    <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                    <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortCriteria='status'; reverseSort = !reverseSort" class="thlink">
                                Status
                                <span ng-show="sortCriteria == 'status'">
                                    <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                    <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr dir-paginate="order in ordersList | filter:search | orderBy:sortCriteria:reverseSort | itemsPerPage: noOfRows" ng-click="getOrderProducts(order.id)" current-page="currentPage" data-toggle="modal" data-target="#myModal" data-animation="am-flip-x" data-placement="center" bs-modal="modal">
                        <td>{{order.customer_id.establishment_name}}</td>
                        <td>{{order.date_received}}</td>
                        <td>{{order.supplieragent_name}}</td>
                        <td>{{order.status}}</td>
                    </tr>

                </tbody>
            </table>

             <div align="center">
             <dir-pagination-controls
                max-size="7"
                directional-links="true"
                boundary-links="true"
            >
            </dir-pagination-controls>
            </div>
        </div>

    <!-- END OF TABLE -->
    


  </div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->


<div class="snackbar-container" data-snackbar="true"></div>
</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->
<!-- Modal -->
<script type="text/ng-template" id="orderDetailsModal.html">
   <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Order #{{orderProducts.id}}</h4> 
      </div>
      <div class="modal-body">
       <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Cases</th>
                        <th>Price Per Case</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="product in orderProducts.products">
                        <td>{{product.sku_id.brand_name + " " + product.sku_id.sku_name}}</td>
                        <td>{{product.cases}}</td>
                        <td style="text-align:right">{{product.sku_id.pricepercase | currency:"₱ "}}</td>
                    </tr>


                </tbody>
            </table>

            <br/>
             <div class="form-group " >
                <label for="inputAddress" class="col-md-10" style="bottom:-0px;">Total Amount</label>
                <div class="col-md-2 pull right style">
                    <u class="double">{{orderProducts.total_amount| currency:"₱"}}</u></div>
            </div>

            <br/>
            <div class="form-group col-md-12" align="center" ng-show="cancelMode">
            <form name="cancelForm" ng-submit="ok(cancel)" novalidate>
            <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter username." ng-model="cancel.username" required>
            </div>
            <div class="form-group">
                        <input type="password" class="form-control" placeholder="Enter password." ng-model="cancel.password" required>
            </div>
            <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="cancelForm.$invalid">Submit</button>
                <button type="button" class="btn btn-default" ng-click="closeForm()">Cancel</button>
            </div>
          </form>
      </div>
      </div>
      <div class="modal-footer">
      <div ng-hide="cancelMode">
        <button class="btn btn-primary"  ng-hide="orderProducts.status === 'Delivered' || orderProducts.status === 'Cancelled'" ng-disabled="cancelMode" ng-click="cancelMode = true">Cancel Order</button>
        <button class="btn btn-default" ng-click="closeModal()">Close</button>
      </div>
      </div>
    </div>
  </div>
</script>