
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Payments </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group" ng-hide="noDeliveryTransactions">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search">
                                <form method="get" action="/search" id="search" ng-hide="addProductForm || editOrDeleteProductForm || noProducts">
                                    <input name="q" ng-model="search.$" type="text" size="50" placeholder="SEARCH" />
                                </form>
                            </div>
                        </li>
            
                        <li>
                            <a ng-click="pagePrint()" ng-hide="addProductForm || editOrDeleteProductForm || noProducts">
                            <h6><i class="mdi-action-print center" ng-hide="noProducts"/> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>

    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">


<!-- PANEL LEFT-->
<div ng-class="payForm ? 'col-xs-12 col-md-4' : ''">
    <div class="panel" ng-show="payForm">

        <div class="panel-body">

          <h4><i class="mdi-content-add-circle"></i> PAYMENT </h4>

          <form class="form-horizontal" name="paymentForm" ng-submit="addPayment(payment)" novalidate>
                <fieldset>

                  <div ng-show="hasError" class="alert alert-dismissable alert-danger">
                     <button type="button" class="close" ng-click="showErrorMessage(false)">×</button>
                     <strong>{{errorMessage}}</strong>
                  </div>

                   <!-- <div class="alert alert-warning" ng-show="(productForm.addProductBrandName.$dirty && productForm.addProductBrandName.$invalid) || (productForm.addProductCompanyName.$invalid && productForm.addProductCompanyName.$dirty) ">

                     <div class="icon-preview"><i class="mdi-alert-error"></i><span></span> Some fields are empty or incorrect.</div> 
                    </div>
 -->              

                   <div class="form-group">
                    <label for="inputBrandName" class="col-md-12">Customer Name</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control empty" name="" ng-model="payment.customer" disabled>
                      <!-- <strong class= "fbackMsg" ng-show="productForm.addProductBrandName.$dirty && productForm.addProductBrandName.$invalid"> Brand name required!  </strong> -->
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputBrandName" class="col-md-12">Establishment Name</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control empty" name="" ng-model="payment.establishment" disabled>
                      <!-- <strong class= "fbackMsg" ng-show="productForm.addProductBrandName.$dirty && productForm.addProductBrandName.$invalid"> Brand name required!  </strong> -->
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputBrandName" class="col-md-12">Payment Date</label>
                    <div class="col-md-12">
                      <input type="date" class="form-control empty" name="" ng-model="payment.payment_date" required>
                      <!-- <strong class= "fbackMsg" ng-show="productForm.addProductBrandName.$dirty && productForm.addProductBrandName.$invalid"> Brand name required!  </strong> -->
                    </div>
                  </div>



                  <div class="form-group">
                    <label for="inputCompanyName" class="col-md-12">Paid Amount</label>

                    <div class="col-md-12">
                        <input type="number" class="form-control empty" name="" min="0" ng-model="payment.paid_amount" required>
                    </div>                  
                  </div>

                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary" ng-disabled="paymentForm.$invalid">Add</button>
                        <button type="button" class="btn btn-default" ng-click="showPayForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!-- PANEL LEFT-->
<div ng-class="summaryForm ? 'col-xs-12 col-md-4' : ''">
    <div class="panel" ng-show="summaryForm">

        <div class="panel-body">

          <h4><i class="mdi-content-add-circle"></i> SUMMARY </h4>

          <form class="form-horizontal" name="productForm" ng-submit="addProduct(product)" novalidate>
                <fieldset>

                  <div class="form-group">
                    <label for="inputBrandName" class="col-md-12">Customer Name</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control empty" name="" ng-model="summary.customer_id.owner_name" disabled>
                      <!-- <strong class= "fbackMsg" ng-show="productForm.addProductBrandName.$dirty && productForm.addProductBrandName.$invalid"> Brand name required!  </strong> -->
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputBrandName" class="col-md-12">Establishment Name</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control empty" name="" ng-model="summary.customer_id.establishment_name" disabled>
                      <!-- <strong class= "fbackMsg" ng-show="productForm.addProductBrandName.$dirty && productForm.addProductBrandName.$invalid"> Brand name required!  </strong> -->
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputBrandName" class="col-md-12">Payment Date</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control empty" name="" ng-model="summary.payment_date" disabled>
                    </div>
                  </div>



                  <div class="form-group">
                    <label for="inputCompanyName" class="col-md-12">Paid Amount</label>

                    <div class="col-md-12">
                        <input type="number" class="form-control empty" name="" min="0" ng-model="summary.paid_amount " disabled>
                    </div>                  
                  </div>

            
                    <div class="form-group rightalign">
                        <button type="button" class="btn btn-default" ng-click="showSummaryForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!-- PANEL RIGHT-->

<div ng-class = "payForm || summaryForm ? 'col-xs-12 col-md-8' : ''">
    <div class="panel">
        <div class="panel-body">

            


        <!-- IF NO PRODUCTS -->
       <div ng-show="noDeliveryTransactions" align="center">
          <h3><strong>NO DELIVERY TRANSACTIONS IN THIS DATE! </strong></h3>
        </div>

        <!-- START OF TABLE -->
        <div>
       
        <div class="form-group" ng-hide="noDeliveryTransactions">
          <label for="select" ng-class = "payForm || summaryForm ? 'col-md-3' : 'col-md-2'">Number of rows:</label>
          <div ng-class = "payForm || summaryForm ? 'col-md-2' : 'col-md-1'">
            <select class="form-control" ng-init="noOfRows = '10'" ng-model="noOfRows">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>

           <div class="form-group" align="right">
               <label  ng-class = "payForm || summaryForm ? 'col-md-3' : 'col-md-offset-3 col-md-3'">Payment Date:</label> 
               <div ng-class = "payForm || summaryForm ?  'col-md-3' : ' col-md-2'">
              <input type="date" name="paymentDate" ng-model="paymentDateFilter" ng-change="dateFilterChange(paymentDateFilter)" class="form-control" required>
                </div>
             </div>

        

          <br><br><br>

          <table class="table table-striped table-hover " ng-hide="noDeliveryTransactions">

                  <thead>
                      <tr class="labels">
                          <th>
                            <a href="" ng-click="sortCriteria='customer_id.establishment_name'; reverseSort = !reverseSort" class="thlink">
                              Customer
                              <span ng-show="sortCriteria == 'customer_id.establishment_name'">
                                <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                              </span>
                            </a>
                          </th>

                          <th>
                            <a href="" ng-click="sortCriteria='delivery_date'; reverseSort = !reverseSort" class="thlink">
                              Delivery Date
                              <span ng-show="sortCriteria == 'delivery_date'">
                                <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                              </span>
                            </a>
                          </th>

                          <th>
                            <a href="" ng-click="sortCriteria='payment_date'; reverseSort = !reverseSort" class="thlink">
                              Payment Date
                              <span ng-show="sortCriteria == 'payment_date'">
                                <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                              </span>
                            </a>
                          </th>

                          <th style="text-align: right">
                            <a href="" ng-click="sortCriteria='total_amount - transaction.paid_amount'; reverseSort = !reverseSort" class="thlink">
                              Balance
                              <span ng-show="sortCriteria == 'total_amount - transaction.paid_amount'">
                                <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                              </span>
                            </a>
                          </th>

                           <th style="text-align: right">
                            <a href="" ng-click="sortCriteria='returns_amount'; reverseSort = !reverseSort" class="thlink">
                              Load In Amount
                              <span ng-show="sortCriteria == 'returns_amount'">
                                <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                              </span>
                            </a>
                          </th>

                          <th style="text-align: right">
                            <a href="" ng-click="sortCriteria='returns_amount'; reverseSort = !reverseSort" class="thlink">
                              Returns Amount
                              <span ng-show="sortCriteria == 'returns_amount'">
                                <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                              </span>
                            </a>
                          </th>

                           <th style="text-align: right">
                            <a href="" ng-click="sortCriteria='order_amount'; reverseSort = !reverseSort" class="thlink">
                              Order Amount
                              <span ng-show="sortCriteria == 'order_amount'">
                                <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                              </span>
                            </a>
                          </th>

                        <th style="text-align: right">
                            <a href="" ng-click="sortCriteria='total_amount'; reverseSort = !reverseSort" class="thlink">
                              Total Amount
                              <span ng-show="sortCriteria == 'total_amount'">
                                <span class="mdi-navigation-expand-less upa" ng-show="!reverseSort"></span>
                                <span class="mdi-navigation-expand-more downa" ng-show="reverseSort"></span>
                              </span>
                            </a>
                          </th>

                          <th></th>
                      </tr>
                  </thead>

                  <tbody>


                    <tr dir-paginate="transaction in deliveryTransactions | filter:search | orderBy:sortCriteria:reverseSort | itemsPerPage: noOfRows" >

                      <td width="25%" >{{transaction.customer_id.establishment_name}}</td>
                      <td width="25%">{{transaction.delivery_date}}</td>
                      <td width="25%">{{transaction.payment_date}}</td>
                      <td width="25%" align="right">{{transaction.total_amount - transaction.paid_amount | currency : "₱"}}</td>
                      <td width="25%" align="right">{{transaction.loadin_amount | currency : "₱"}}</td>
                      <td width="25%" align="right">{{transaction.returns_amount | currency : "₱"}}</td>
                      <td width="25%" align="right">{{transaction.order_amount | currency : "₱"}}</td>
                      <td width="25%" align="right">{{transaction.total_amount | currency : "₱"}}</td>
                      
                      <td width="25%">
                        <button ng-show="transaction.payment_date === 'Unpaid'" ng-click="transactionClicked(transaction)" class= "btn btn-primary btn-xs">Pay</button>
                        <button ng-hide="transaction.payment_date === 'Unpaid'" ng-click="transactionClicked(transaction)" class= "btn btn-default btn-xs">Summary</button>
                        <button ng-click="getPaymentHistory(transaction)" data-toggle="modal" data-target="#myModal" class= "btn btn-default btn-xs">History</button>
                      </td>

                    </tr>

                  </tbody>
          </table>

          <div align="center" ng-hide="noDeliveryTransactions">
          <dir-pagination-controls
                max-size="7"
                directional-links="true"
                boundary-links="true"
                >
          </dir-pagination-controls>
          </div>
        </div>

    </div> 
</div>

<!-- END OF LEFT PANEL -->

<div class="snackbar-container" data-snackbar="true"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Payment History</h4> 
      </div>
      <div class="modal-body" >

        <div ng-show="noHistory"  align="center">
              <h3><strong>No payment history yet! </strong></h3>
        </div> 
       <table class="table table-striped table-hover" ng-hide="noHistory">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th style="text-align:right;">Amount</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="history in historyData">
                        <td>{{history.date}}</td>
                        <td align="right">{{history.amount |currency : "₱" }}</td>
                    </tr>
                </tbody>
            </table>
  
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->




