
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left" id="resultSection">
        <h1> Point of Sales (POS) </h1>
    </div>
</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">



<!-- PANEL -->

<div class="panel">

  <div class="panel-body">


    <div class="col-md-12">

      <div class="form-group">
        <label for="customerName" class="col-md-2">Customer Name</label>
        <div class="col-md-5">
          <input ng-model="customerName" type="text" class="form-control control-label" placeholder="Customer name">
        </div>
      </div>

      <div class="alert alert-dismissable alert-danger col-md-6" ng-show="postResult">
        <button type="button" class="close" ng-click="showPostResult(false)">×</button>
        <strong>{{postResultMessage}}</strong>
      </div>
 
    </div>


    <hr>


    <div class="panel-body">

      <h2>TRANSACTION ITEMS</h2><hr>

      <div class="row content-view">


<div class="col-md-3">
      <form class="form-horizontal" name="transactionForm" ng-submit="addTransactionItem(transaction)" novalidate>
            <div ng-show="hasError" class="alert alert-dismissable alert-danger">
              <button type="button" class="close" ng-click="showErrorMessage(false)">×</button>
              <strong>{{errorMessage}}.</strong>
            </div> 

            <div class="alert alert-dismissable alert-danger" ng-show="itemExistingTransactionError">
              <button type="button" class="close" ng-click="showItemExistingTransactionError(false)">×</button>
              <strong>{{itemExistingTransaction}}</strong>
            </div>

            <div class="form-group">
              <label for="select" class="col-md-3">SKU name</label>
              <div ng-show="noSKU">
                NO SKU AVAILABLE
              </div>
              <div ng-hide="noSKU" class="col-md-9">
                <select  class="form-control" ng-model="transaction.sku" ng-change="getMaxBottles(transaction.sku)" ng-options="sku as combined(sku) for sku in skuList">
                </select>
              </div>
            </div>

            <div class="form-group">
                <label for="select" class="col-md-3">Extra bottles</label>
                <div class="col-md-9">
                <input ng-model="transaction.extraBottles" type="number" max="{{maxBottles}}"  min="0" class="form-control" placeholder="Enter number of bottles." required>
                </div>
            </div>
            
            <div class="form-group">
                <label for="cases" class="col-md-3">Cases</label>
                 <div class="col-md-9">
                 <input ng-model="transaction.cases" type="number" min="0" class="form-control" placeholder="Enter number of cases." required>
                 </div>
            </div>

            <div class="form-group">
                <label for="cases" class="col-md-3">Discount</label>
                 <div class="col-md-9">
                 <input ng-model="transaction.discount" type="number" min="0" step="0.01" class="form-control" placeholder="Enter discount per case." required>
                 </div>
            </div>

            <button class="btn btn-primary pull-right" ng-disabled="transactionForm.$invalid">Add</button><br><br><br>

            <div class="form-group">
                <legend class="col-md-12 col-md-offset-1 panel"> Total Amount: {{totalAmount| currency : '₱'}}</legend>
            </div>

      </form>
</div>



    <div class="col-md-8 col-md-offset-1">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                  <th>Sku name&nbsp;</th>
                  <th>Brand&nbsp;</th>
                  <th>Bottles&nbsp;</th>
                  <th>Cases&nbsp;</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in transactionItems">
                    <td>{{item.sku_name}}</td>
                    <td>{{item.brand_name}}</td>
                    <td>{{item.bottles}}</td>
                    <td>{{item.cases}}</td>
                    <td><button  class="btn btn-primary btn-xs" ng-click="deleteTransactionItem($index)"><i class="mdi-action-delete"></i>DELETE</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
</div>

<hr>

<div class="panel">

<hr>


<br/>
<br/>


  <h2>RETURNED ITEMS</h2><hr>

  <div class="row content-view">

    <div class="col-md-3">




      <form class="form-horizontal" name="returnsForm" ng-submit="addReturns(returns)" novalidate>
        <div class="alert alert-dismissable alert-danger" ng-show="itemExistingReturnsError">
          <button type="button" class="close" ng-click="showItemExistingReturnsError(false)">×</button>
          <strong>{{itemExistingReturns}}</strong>
        </div> 


        
        <div class="form-group">
          <label for="select" class="col-md-3">SKU name</label>
          <div ng-show="noSKU">
            NO SKU AVAILABLE
          </div>
          <div ng-hide="noSKU" class="col-md-9">
            <select  class="form-control" ng-model="returns.sku" ng-change="getMaxReturnedBottles(returns.sku)" ng-options="sku as combined(sku) for sku in skuList"> </select>
          </div>
           </div>

      
      <div class="form-group">
        <label for="select" class="col-md-3">Deposit</label>
        <div class="col-md-9">
          <input ng-model="deposit" type="number" min="1" class="form-control" placeholder="Enter deposit (₱).">
        </div>
      </div>


        <div class="form-group">
          <label for="select" class="col-md-3">Bottles</label>
          <div class="col-md-9">
            <input ng-model="returns.bottles" type="number" min="0" max="{{maxReturnedBottles}}" class="form-control" placeholder="Enter number of bottles." required>
          </div>
        </div>
        
        <div class="form-group">
          <label for="select" class="col-md-3">Cases</label>
          <div class="col-md-9">
            <input ng-model="returns.cases" type="number" min="0" class="form-control" placeholder="Enter number of cases." required>
          </div>
        </div>

        <button class="btn btn-primary pull-right" ng-disabled="returnsForm.$invalid">Add</button>

  </form>
</div>

      <div class="col-md-8 col-md-offset-1">
       <table class="table table-striped table-hover">
          <thead>
              <tr>
                    <th>Brand&nbsp;</th>
                    <th>Sku name&nbsp;</th>
                    <th>Bottles&nbsp;</th>
                    <th>Cases&nbsp;</th>
                    <th></th>
                </tr>
          </thead>
          <tbody> 
                <tr ng-repeat="item in returnsItems">
                    <td>{{item.brand_name}}</td>
                    <td>{{item.sku_name}}</td>
                    <td>{{item.bottles}}</td>
                    <td>{{item.cases}}</td>
                    <td><button  class="btn btn-primary btn-xs" ng-click="deleteReturnsItem($index)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br/>
<br/>


 <div ng-click="finalizeTransaction()" ng-disabled="!transactionItems.length || !returnsItems.length || customerName === '' || deposit === null " class="btn btn-primary btn-lg pull-right">Done</div>

<div class="snackbar-container" data-snackbar="true"></div>
</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->

</div></div></div> <!-- END OF DIV: PANEL & PANEL-BODY | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->

