
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Products </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search">
                                <form method="get" action="/search" id="search" ng-hide="addProductForm || editOrDeleteProductForm || noProducts">
                                    <input name="q" ng-model="search.$" type="text" size="50" placeholder="SEARCH" />
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-hide="addProductForm" ng-click="showAddProductForm(true)">
                                <h6><i class="mdi-content-add-box"/> &nbsp; ADD PRODUCTS</h6></a>

                        </li>
                        <li>
                            <a ng-click="pagePrint()" ng-hide="addProductForm || editOrDeleteProductForm || noProducts">
                            <h6><i class="mdi-action-print center" ng-hide="noProducts"/> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">


<!-- PANEL LEFT-->
<div ng-class="addProductForm ? 'col-xs-12 col-md-4' : ''">
    <div class="panel" ng-show="addProductForm">

        <div class="panel-body">

          <h4><i class="mdi-content-add-circle"></i> ADD NEW PRODUCT </h4>

          <form class="form-horizontal" name="productForm" ng-submit="addProduct(product)" novalidate>
                <fieldset>

                   <div class="alert alert-warning" ng-show="(productForm.addProductBrandName.$dirty && productForm.addProductBrandName.$invalid) || (productForm.addProductCompanyName.$invalid && productForm.addProductCompanyName.$dirty) ">

                     <div class="icon-preview"><i class="mdi-alert-error"></i><span></span> Some fields are empty or incorrect.</div> 
                    </div>


                  <div class="form-group">
                    <label for="inputBrandName" class="col-md-12">Brand Name</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control empty" name="addProductBrandName" placeholder="Enter brand name." ng-model="product.brand_name" required>
                      <strong class= "fbackMsg" ng-show="productForm.addProductBrandName.$dirty && productForm.addProductBrandName.$invalid"> Brand name required!  </strong>
                    </div>
                  </div>



                  <div class="form-group">
                    <label for="inputCompanyName" class="col-md-12">Company Name</label>

                    <div class="col-md-12">
                        <select class="form-control" id="selectType" ng-model="product.company" 
                        ng-init="product.company = companies[0]">
                          <option ng-repeat="company in companies" value="{{company}}">{{company}}</option>
                        </select>
                    </div>                  
                  </div>



                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary" ng-disabled="productForm.$invalid">Add</button>
                        <button type="button" class="btn btn-default" ng-click="showAddProductForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

 <div ng-class="editOrDeleteProductForm ? 'col-xs-12 col-md-4' : ''">
  <div class="panel" ng-show="editOrDeleteProductForm">

        <ul class="nav nav-tabs col-md-12">
                        <li>
                            <a ng-click="setEditProductTab(true)"><i class="mdi-editor-mode-edit"/>&nbsp; Edit Product</a>
                        </li>
                        <li>
                            <a ng-click="setEditProductTab(false)"><i class="mdi-action-delete"/>&nbsp;Delete Product</a>
                        </li>
                    </ul>

        <div class="panel-body" ng-show="editProductTab">
          
          <h4><i class="mdi-image-edit"></i> EDIT PRODUCT </h4>

          <form class="form-horizontal" name="editProductForm" ng-submit="editProduct(productEdit)" novalidate>
                <fieldset>

                 <div class="alert alert-warning" ng-show="(editProductForm.addProductBrandName.$dirty && editProductForm.addProductBrandName.$invalid) || (editProductForm.addProductCompanyName.$invalid && editProductForm.addProductCompanyName.$dirty) ">

                     <div class="icon-preview"><i class="mdi-alert-error"></i><span></span> Some fields are empty or incorrect.</div> 
                  </div>

                  <div class="form-group">
                    <label for="inputBrandName" class="col-md-12">Brand Name</label>
                    <div class="col-md-12" >
                      <input type="text" name="addProductBrandName" class="form-control empty" placeholder="Enter brand name." ng-model="productEdit.brand_name" required>
                      <strong class = "fbackMsg"  ng-show="editProductForm.addProductBrandName.$dirty && editProductForm.addProductBrandName.$invalid"> Brand name required!  </strong>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputProductName" class="col-md-12">Company Name</label>
                    <div class="col-md-12">
                        <select class="form-control" id="selectType" ng-model="productEdit.company">
                          <option ng-repeat="company in companies" value="{{company}}">{{company}}</option>
                        </select>
                    </div>                  
                  </div>

                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary" ng-disabled="editProductForm.$invalid">Save</button>
                        <button type="button" class="btn btn-default" ng-click="showEditOrDeleteProductForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="panel-body" ng-hide="editProductTab">
          
          <h4><i class="mdi-action-delete"></i> DELETE PRODUCT </h4>

          <form class="form-horizontal" name="deleteProductForm" ng-submit="deleteProduct(productDelete)" novalidate>
                <fieldset>
                  <div class="form-group">
                    <label for="inputBrandName" class="col-md-12">Brand Name</label>
                    <div class="col-md-12">
                      <input type="text" class="form-control empty" placeholder="Enter brand name." ng-model="productDelete.brand_name" disabled>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputProductName" class="col-md-12">Company Name</label>
                    <div class="col-md-12">
                        <select class="form-control" id="selectType" ng-model="productDelete.company" disabled>
                          <option ng-repeat="company in companies" value="{{company}}">{{company}}</option>
                        </select>
                    </div>                  
                  </div>

                    <div class="form-group rightalign">
                        <button type="submit" class="btn btn-primary" ng-disabled="deleteProductForm.$invalid">Delete</button>
                        <button type="button" class="btn btn-default" ng-click="showEditOrDeleteProductForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>   
        </div>
    </div>
</div>

<!-- PANEL RIGHT-->

<div ng-class = "addProductForm || editOrDeleteProductForm ? 'col-xs-12 col-md-8' : ''">
    <div class="panel">
        <div class="panel-body">


          <div class="form-group" ng-hide="noProducts">
          <label for="select" class="col-md-2">Company Name</label>
            <div class="col-md-3">
                <select class="form-control" ng-model="searchCompany" ng-show="!noExistingProduct" ng-options="product.company as product.company for product in existingCompany">
                <option value="">All</option>
                </select>
                <input type="text" class="form-control empty" ng-hide="!noExistingProduct" value="No products added" disabled>
            </div>
          </div>

          <br><br>

        <!-- IF NO PRODUCTS -->
       <div ng-show="noProducts" align="center">
          <h3><strong>NO PRODUCTS! </strong></h3>
        </div>

        <!-- START OF TABLE -->
        <div ng-hide="noProducts">
          <table class="table table-striped table-hover ">

                  <thead>
                      <tr class="labels">
                          <th>Brand&nbsp;
                          <a href="" ng-click="sortCriteria = '-brand_name'" class="arrowlink1"><i class="mdi-navigation-arrow-drop-down"></i></a>
                          <a href="" ng-click="sortCriteria = '+brand_name'" class="arrowlink2"><i class="mdi-navigation-arrow-drop-up"></i></a></th>
                          <th>Company&nbsp;
                          <a href="" ng-click="sortCriteria = '-company'" class="arrowlink1"><i class="mdi-navigation-arrow-drop-down"></i></a>
                          <a href="" ng-click="sortCriteria = '+company'" class="arrowlink2"><i class="mdi-navigation-arrow-drop-up"></i></a></th>
                      </tr>
                  </thead>

                  <tbody>


                    <tr dir-paginate="product in products | filter:search | orderBy:sortCriteria | itemsPerPage: 10"  ng-click="productClicked(product)">

                      <td>{{product.brand_name}}</td>
                      <td>{{product.company}}</td>

                    </tr>

                  </tbody>
          </table>

          <dir-pagination-controls
                max-size="7"
                directional-links="true"
                boundary-links="true">
          </dir-pagination-controls>
        </div>

    </div> 
</div>

<!-- END OF LEFT PANEL -->




</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->




