
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Purchases Overview </h1>
    </div>

    <div class="pageheader-right" align="center">
            <span class="label label-default">DATE:</span>
            <span class="label label-default">FEBRUARY. 09, 2015</span>
            <span class="label label-default"><a href="">▼</a></span>
            <br>

            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search by:">
            </form>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">



<!-- PANEL -->

<div class="panel">
  <div class="panel-body">
    
    <div class="form-group col-md-4">
        <input class="form-control" type="text" id="inputSearch" placeholder="Search by: ex. Mang Juan">
        <button class="btn btn-default btn-xs" type="button">Filter</button> 
        <button class="btn btn-default btn-xs" type="button">Search</button>
    </div>

    <br>

    <table class="table table-striped table-hover">

      <thead>
      <tr class="labels">
          <th>Establishment Name</th>
          <th>Owner Name</th>
          <th>Delivery Date</th>
          <th>Ordered Date</th>
          <th>Status</th>
          <th>Total Amount</th>
      </tr>
      </thead>

      <tbody>
      <tr>
          <td>Aling Puring's</td>
          <td>Puring Purisima</td>
          <td>11/13/2014</td>
          <td>11/12/2014</td>
          <td>Cancelled</td>
          <td>1200</td>
      </tr>
      <tr>
          <td>Mang Juan</td>
          <td>Juan dela Cruz</td>
          <td>01/10/2015</td>
          <td>01/08/2015</td>
          <td>Cancelled</td>
          <td>1200</td>
      </tr>
      <tr>
          <td>Aling Puring's</td>
          <td>Puring Purisima</td>
          <td>11/13/2014</td>
          <td>11/12/2014</td>
          <td>Cancelled</td>
          <td>1200</td>
      </tr>
      <tr>
          <td>Aling Puring's</td>
          <td>Puring Purisima</td>
          <td>11/13/2014</td>
          <td>11/12/2014</td>
          <td>Cancelled</td>
          <td>1200</td>
      </tr>
      <t>
          <td>Aling Puring's</td>
          <td>Puring Purisima</td>
          <td>11/13/2014</td>
          <td>11/12/2014</td>
          <td>Cancelled</td>
          <td>1200</td>
      </tr>
      <tr>
          <td>Aling Puring's</td>
          <td>Puring Purisima</td>
          <td>11/13/2014</td>
          <td>11/12/2014</td>
          <td>Cancelled</td>
          <td>1200</td>
      </tr>

      </tbody>
    </table>

    <!-- END OF TABLE -->
    

    <!-- PRINT ICON -->
    <br><br>
    <div class="form-group" align="right">
        <div class="icon-preview"><a class="btn btn-success pull-right btn-md"><i class="mdi-action-print"></i></a></div>
    </div>
    <br><br>


</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->

