
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Purchases (SIV) </h1>
    </div>
    
    <div class="pageheader-right" align="center">
            <span class="label label-default">DATE:</span>
            <span class="label label-default">FEBRUARY. 09, 2015</span>
            <span class="label label-default"><a href="">▼</a></span>
            <br>

            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search by:">
            </form>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">




<!-- PANEL -->



<div class="panel col-md-12">
    <div class="panel-body">

        <br>
    
        <div class="form-group">
            <label for="select" class="col-md-2">Company Name</label>
            <div class="col-md-2">
                <select class="form-control" id="selectBrand">
                    <option>Coca-Cola</option>
                    <option>SMB</option>
                </select>
            </div>
        </div>

        <br>

        <!-- START OF TABLE -->

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Size</th>
                    <th>Company</th>
                    <th>Price</th>
                    <th>Cases</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Coke</td>
                    <td>1L</td>
                    <td>Coca-Cola</td>
                    <td>25</td>
                    <td>500</td>
                </tr>
            </tbody>
        </table>

    <!-- END OF TABLE -->
    

    <!-- PRINT ICON -->
    <br><br>
    <div class="form-group" align="right">
        <div class="icon-preview"><a class="btn btn-success pull-right btn-md"><i class="mdi-action-print"></i></a></div>
    </div>
    <br><br>



</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->

