<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Routes </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search" ng-hide="">
                                <form method="get" action="/search" id="search">
                                    <input name="q" type="text" size="50" placeholder="SEARCH" />
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-click="" ng-hide="">
                                <h6><i class="mdi-content-add-box"/> &nbsp; ADD PURCHASE</h6></a>

                        </li>
                        <li>
                            <a ng-hide="" ng-click="">
                            <h6><i class="mdi-action-print center"/> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>




</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

    <div class="addressList col-md-4">
        <p>ADDRESS</p> 
        <button ng-click="showAddAdressForm(true)">+</button>
        <button ng-click="editState = !editState">Edit</button>
        <button ng-click="deleteState = !deleteState">Delete</button>
        <table>
            <thead>
                <th>Adress Name</th>
                <th>Days</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="address in addresses" ng-drag="editState || deleteState ? false : true" ng-drag-data="address" ng-drag-success="onDragComplete($data,$event)">
                    <td>{{address.address_name}}</td>
                    <td>{{address.days}}</td>
                    <td>
                        <button ng-show="editState" ng-click="addressEditClicked(address)">Edit</button>
                        <button ng-show="deleteState" ng-click="deleteAddress(address)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div ng-show="addAdressForm">
        <form name="addressForm" ng-submit="addAddress(address)" novalidate>
            <input type="text" ng-model="address.address_name" required>
            <p>Days: {{address.days}}</p>
         
            <div ng-repeat="day in days">
                <button type="button" ng-click="addDay(day)">{{day | uppercase}}</button>
            </div>
            <button type="submit" ng-disabled="addressForm.$invalid || address.days.length === 0">Add</button>
            <button type="button" ng-click="showAddAdressForm(false)">Cancel</button>
        </form>
        </div>

        <div ng-show="editAdressForm">
        <form name="addressEditForm" ng-submit="editAddress(addressEdit)" novalidate>
            <input type="text" ng-model="addressEdit.address_name" required>
            <p>Days: {{addressEdit.days}}</p>

            <div ng-repeat="day in days">
                <button type="button" ng-click="editDay(day)">{{day | uppercase}}</button>
            </div>
            <button type="submit" ng-disabled="addressEditForm.$invalid || addressEdit.days.length === 0">Edit</button>
            <button type="button" ng-click="showEditAdressForm(false)">Cancel</button>
        </form>
        </div>

    </div>

    <div class="routeList col-md-8">
      ROUTE
      <div ng-show="existingAddressInRouteError">{{existingAddressInRoute}}</div>
      <button ng-click="showAddRouteBox(true)">+</button>
      <div ng-show="addRouteBox">
          <form name="routeAddForm" ng-submit="addRoute(route)" novalidate>
              <input type="text" ng-model="route.route_name" required>
              <div style="background-color:green;width:100%;height:200px;" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" >
             <div ng-repeat="address in addressesInRoute">
                 {{address.address_name}}
             </div>
             </div>
             <button type="submit" ng-disabled="routeAddForm.$invalid || addressesInRoute.length === 0" >Add Route</button>
          </form>
           
      </div>
       
      <div>
         <div style="background-color:green;width:100%;height:200px;" ng-repeat="routeInfo in routes">
           <div>
             {{routeInfo}}     
           </div>
        </div>      
      </div>

    </div>

</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->


<!-- <div style="background-color:red;" ng-repeat="address in addresses" ng-drag="true" ng-drag-data="address" ng-drag-success="onDragComplete($data,$event)">
  Draggable div
</div>

<div style="background-color:green;width:100%;height:200px;" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" >
  Drop area
</div> -->