
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Add Stock (SKU) </h1>
    </div>
</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

    <!-- LEFT PANEL -->

    <div class="panel panel-left col-md-4" ng-show="addSKUForm">
        <div class="panel-body">
          <div ng-show="!noExistingProduct">
            <legend>Add SKU</legend>
            <form class="form-horizontal" name="skuForm" ng-submit="addSKU(sku)" novalidate>
                <fieldset>

                    <div class="form-group">
                        <label for="inputProductName" class="col-md-12">
                        Product Name</label>
                        <div class="col-md-12">
                          <select class="form-control" ng-model="sku.prod_name" ng-options="product.prod_name as product.prod_name for product in products">
                          </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputSize" class="col-md-12">
                        Size</label> 
                        <div class="col-md-6"><input type="number" min="0" step="0.1" class="form-control" id="inputSize" placeholder="Enter size." ng-model="sku.size" required>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control" ng-model="sku.unit" ng-init="sku.unit = units[0]">
                            <option ng-repeat="unit in units" value="{{unit}}" >{{unit}}</option>
                          </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPrice" class="col-md-12">
                        Price</label> 
                        <div class="col-md-12"><input type="number" min="0" step="0.01" class="form-control" id="inputPrice" placeholder="Enter price." ng-model="sku.price" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputBottlePerCase" class="col-md-12">
                        No. of Bottle/Case</label> 
                        <div class="col-md-12"><input type="number" min="0" class="form-control" id="inputBottlePerCase" placeholder="Enter no. of bottle per case." ng-model="sku.bottlespercase" required>
                        </div>
                    </div>


                    <!-- ADD BUTTON -->

                        <div class="icon-preview">
                          <button type="button" class="btn btn-default btn-xs rightalign" ng-click="showAddSkuForm(false)" >Cancel</button>
                          <button type="submit" class="btn btn-primary btn-xs pull-right" ng-disabled="skuForm.$invalid">Add</button>

                          <br>
                        </div>


                </fieldset>
            </form>
          </div>


          <div ng-hide="!noExistingProduct">
            Add product first..
          </div>
        </div>
    </div>

    <div class="panel panel-left col-md-4" ng-show="editOrDeleteSKUForm">

        <ul class="nav nav-tabs col-md-12">
                        <li>
                            <a ng-click="setEditSKUTab(true)">Edit SKU</a>
                        </li>
                        <li>
                            <a ng-click="setEditSKUTab(false)">Delete SKU</a>
                        </li>
                    </ul>

        <div class="panel-body" ng-show="editSKUTab">
            <legend>EDIT SKU</legend>
            <form class="form-horizontal" name="editskuForm" ng-submit="editSKU(skuEdit)" novalidate>
                <fieldset>

                    <div class="form-group">
                        <label for="inputProductName" class="col-md-12">
                        Product Name</label>
                        <div class="col-md-12">
                          <select class="form-control" ng-model="skuEdit.sku_name" ng-options="product.prod_name as product.prod_name for product in products">
                          </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputSize" class="col-md-12">
                        Size</label> 
                        <div class="col-md-6"><input type="number" min="0" step="0.1" class="form-control" id="inputSize" placeholder="Enter size." ng-model="skuEdit.size" required>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control" ng-model="skuEdit.unit">
                            <option ng-repeat="unit in units" value="{{unit}}" >{{unit}}</option>
                          </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPrice" class="col-md-12">
                        Price</label> 
                        <div class="col-md-12"><input type="number" min="0" step="0.01" class="form-control" id="inputPrice" placeholder="Enter price." ng-model="skuEdit.price" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputBottlePerCase" class="col-md-12">
                        No. of Bottle/Case</label> 
                        <div class="col-md-12"><input type="number" min="0" class="form-control" id="inputBottlePerCase" placeholder="Enter no. of bottle per case." ng-model="skuEdit.bottlespercase" required>
                        </div>
                    </div>


                    <!-- ADD BUTTON -->

                        <div class="icon-preview">
                          <button type="button" class="btn btn-default btn-xs rightalign" ng-click="showEditOrDeleteSkuForm(false)" >Cancel</button>
                          <button type="submit" class="btn btn-primary btn-xs pull-right" ng-disabled="editskuForm.$invalid">Edit</button>

                          <br>
                        </div>


                </fieldset>
            </form>
        </div>

        <div class="panel-body" ng-hide="editSKUTab">
            <legend>DELETE SKU</legend>
            <form class="form-horizontal" name="deleteskuForm" ng-submit="deleteSKU(skuDelete)" novalidate>
                <fieldset>

                    <div class="form-group">
                        <label for="inputProductName" class="col-md-12">
                        Product Name</label>
                        <div class="col-md-12">
                          <input type="text" class="form-control" id="inputPrice" placeholder="Enter price." ng-model="skuDelete.sku_name" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputSize" class="col-md-12">
                        Size</label> 
                        <div class="col-md-6"><input type="number" min="0" step="0.1" class="form-control" id="inputSize" placeholder="Enter size." ng-model="skuDelete.size" disabled>
                        </div>
                        <div class="col-md-6">
                          <select class="form-control" ng-model="skuDelete.unit" disabled>
                            <option ng-repeat="unit in units" value="{{unit}}" >{{unit}}</option>
                          </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPrice" class="col-md-12">
                        Price</label> 
                        <div class="col-md-12"><input type="number" min="0" step="0.01" class="form-control" id="inputPrice" placeholder="Enter price." ng-model="skuDelete.price"disabled>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputBottlePerCase" class="col-md-12">
                        No. of Bottle/Case</label> 
                        <div class="col-md-12"><input type="number" min="0" class="form-control" id="inputBottlePerCase" placeholder="Enter no. of bottle per case." ng-model="skuDelete.bottlespercase" disabled>
                        </div>
                    </div>


                    <!-- ADD BUTTON -->

                        <div class="icon-preview">
                          <button type="button" class="btn btn-default btn-xs rightalign" ng-click="showEditOrDeleteSkuForm(false)" >Cancel</button>
                          <button type="submit" class="btn btn-primary btn-xs pull-right">Delete</button>

                          <br>
                        </div>


                </fieldset>
            </form>
        </div>
    </div>



   






    <!-- START OF TABLE -->

    <div class="panel panel-right col-md-8">
        <div class="panel-body">

        <div class="form-group">
          <label for="select" class="col-md-2">Company Name</label>
            <div class="col-md-5">
                <select class="form-control" ng-model="companyFilter" ng-options="product.company as product.company for product in existingCompany">
                  <option value="">All</option>
                </select>
            </div>
        </div>


      <table class="table variantTable table-striped table-hover">

              <thead>
                  <tr>
                      <th>Name&nbsp;
            <a href=""><i class="mdi-navigation-arrow-drop-down downa"></i></a>
            <a href=""><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                      <th>Size&nbsp;
            <a href=""><i class="mdi-navigation-arrow-drop-down downa"></i></a>
            <a href=""><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                      <th>Company&nbsp;
            <a href=""><i class="mdi-navigation-arrow-drop-down downa"></i></a>
            <a href=""><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                      <th>Price&nbsp;
            <a href=""><i class="mdi-navigation-arrow-drop-down downa"></i></a>
            <a href=""><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                      <th>Bottles&nbsp;
            <a href=""><i class="mdi-navigation-arrow-drop-down downa"></i></a>
            <a href=""><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                  </tr>
              </thead>

              <tbody>
                  <tr ng-repeat="sku in skuLists" ng-click="skuClicked(sku)">
                    <td>{{sku.sku_name}}</td>
                    <td>{{sku.size}}</td>
                    <td>{{sku.prod_id.company}}</td>
                    <td>{{sku.price}}</td>
                    <td>{{sku.bottlespercase}}</td>
                  </tr>
              </tbody>
          </table>

    <!-- END OF TABLE -->
    

    <div class="icon-preview">
      <a class="btn btn-primary pull-right btn-md" ng-click="showAddSkuForm(true)">Add</a>
      <br>
    </div>


    <!-- PRINT ICON -->
    <br><br>
    <div class="form-group" align="right">
        <div class="icon-preview"><a class="btn btn-success pull-right btn-md"><i class="mdi-action-print"></i></a></div>
    </div>
    <br><br>


</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->


<!-- Edit Variants modal-->
<!-- <div class="modal" id="editStockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit Stock</h4>
            </div>
    <div class="modal-body">

    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="inputEmail" class="col-md-3 control-label">Price:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="inputUsername" placeholder="enter username">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-md-3 control-label">Lifespan:</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" id="inputPassword" placeholder="enter here.">
                </div>
            </div>

        </fieldset>
    </form>

    </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>



        </div>
    </div>
</div> -->

