
<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Tally </h1>
    </div>

    <div class="pageheader-right" align="center">
            <span class="label label-default">DATE:</span>
            <span class="label label-default">FEBRUARY. 09, 2015</span>
            <span class="label label-default"><a href="">▼</a></span>
            <br>

            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search by:">
            </form>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">


<!-- PANEL -->

<div class="panel">
    <div class="panel-body form-group">
      <br>

          <!-- START OF FORM -->

          <div class="row">
                <div class="col-md-12 col-md-offset-1">

             <label for="select" class="col-md-1">Truck:</label>
                      <div class="col-md-3">
                          <select class="form-control" id="selectBrand">
                              <option>Truck 1</option>
                              <option>Truck 2</option>
                              <option>Truck 3</option>
                              <option>Truck 4</option> 
                          </select>
                      </div>

            <br><br><br>

                      <div class="form-group col-md-12">
                        <label for="inputDriver" class="col-md-2">Driver:</label>  
                        <div class="col-md-3">
                          <input type="text" class="form-control" id="inputDriver" placeholder="Enter name of driver.">
                        </div>
                      </div>

                      <div class="form-group col-md-12">
                        <label for="inputRoute" class="col-md-2">Route No.:</label>  
                        <div class="col-md-3">
                          <input type="text" class="form-control" id="inputRoute" placeholder="Enter route number.">
                        </div>
                      </div>

                      <div class="form-group col-md-12">
                        <label for="inputHelper" class="col-md-2">Helper:</label>  
                        <div class="col-md-3">
                          <input type="text" class="form-control" id="inputHelper" placeholder="Enter name of helper.">
                        </div>
                      </div>

                      <div class="form-group col-md-12">
                        <label for="inputDispatcher" class="col-md-2">Dispatcher:</label>  
                        <div class="col-md-3">
                          <input type="text" class="form-control" id="inputDispatcher" placeholder="Enter name of dispatcher.">
                        </div>    
                      </div>

                </div>
          </div>
          <!-- END OF FORM -->

          <br><br>

    <!-- START OF TABLE -->

    <table class="table table-striped table-hover">

          <thead>
              <tr>
                  <th>Product Name</th>
                  <th>Size</th>
                  <th>Quantity</th>
              </tr>
          </thead>

          <tbody>
              <tr>
                  <td>Coke</td>
                  <td>1L</td>
                  <td>150</td>
              </tr>
              <tr>
                  <td>Royal</td>
                  <td>1.5L</td>
                  <td>25</td>
              </tr>
              <tr>
                  <td>Red Horse</td>
                  <td>500mL</td>
                  <td>216</td>
              </tr>
          </tbody>

    </table>

    <!-- END OF TABLE -->
    

    <!-- PRINT ICON
    <br><br>
    <div class="form-group" align="right">
        <div class="icon-preview"><a class="btn btn-success pull-right btn-md"><i class="mdi-action-print"></i></a></div>
    </div>
    <br><br> -->


</div>
</div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->
