<div class="panel-body">

        <!-- START OF TABLE -->         
               <div ng-show="noTransactionHistory" align="center">
               <h3><strong>NO TRANSACTION YET!
            <small> <br/></small>
              </strong></h3>
             </div>
   

                <table ng-hide="noTransactionHistory" class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th width="20%">Customer Name&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                            <th width="20%">Date&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                            <th width="20%">Total Amount&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
              <th width="20%">Type&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
              <th width="20%">User&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-arrow-drop-down downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-arrow-drop-up upa"></i></a></th>
                        </tr>
                    </thead>
     
                    <tbody>
                        <tr ng-repeat="transaction in transactions">
    
                            <td width="20%">{{transaction.customer_name}}</td>
                            <td width="20%">{{transaction.date}}</td>
                            <td width="20%">{{transaction.total_amount}}</td>
                            <td width="20%">{{transaction.type}}</td>
                            <td width="20%">{{transaction.user}}</td>

                        </tr>

                    

                    </tbody>
                </table> <!-- END OF TABLE -->


            </div>