<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Transaction History </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search">
                                <form method="get" action="/search" id="search">
                                    <input name="q" ng-model="search.$" type="text" size="50" placeholder="SEARCH" />
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-click="pagePrint()" ng-hide="addPurchaseForm || noSKU || noBays || noPurchase">
                            <h6><i class="mdi-action-print center"/> &nbsp; PRINT</h6></a>
                        </li>
                    </ul>
                </div>
    </div>

</div>



<!-- BODY -->

    <!-- RIGHT PANEL -->

      <div class="panel-body">

        <!-- START OF TABLE -->         
               <div ng-show="noTransactionHistory" align="center">
               <h3><strong>NO TRANSACTION YET!
            <small> <br/></small>
              </strong></h3>
             </div>
   

                <table ng-hide="noTransactionHistory" class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th width="20%">Customer Name&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-expand-more downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-expand-less upa"></i></a></th>
                            <th width="20%">Date&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-expand-more downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-expand-less upa"></i></a></th>
                            <th width="20%">Total Amount&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-expand-more downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-expand-less upa"></i></a></th>
              <th width="20%">Type&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-expand-more downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-expand-less upa"></i></a></th>
              <th width="20%">User&nbsp;
              <a href="" class="arrowlink1"><i class="mdi-navigation-expand-more downa"></i></a>
              <a href="" class="arrowlink2"><i class="mdi-navigation-expand-less upa"></i></a></th>
                        </tr>
                    </thead>
     
                    <tbody>
                        <tr ng-repeat="transaction in transactions">
    
                            <td width="20%">{{transaction.customer_name}}</td>
                            <td width="20%">{{transaction.date}}</td>
                            <td width="20%">{{transaction.total_amount}}</td>
                            <td width="20%">{{transaction.type}}</td>
                            <td width="20%">{{transaction.user}}</td>

                        </tr>

                    

                    </tbody>
                </table> <!-- END OF TABLE -->


            </div>