<!-- START OF CONTENT -->


<!-- PAGE HEADERS -->

<div class="row">

    <div class="pageheader-left">
        <h1> Trucks </h1>
    </div>

    <div class="pageheader-right">
        <div class="form-group">
            <ul class="nav nav-tabs col-md-12">
                        <li>
                            <div class="search">
                                <form method="get" action="/search" id="search">
                                    <input name="q" type="text" size="50" placeholder="SEARCH" ng-hide = "addTruckForm"/>
                                </form>
                            </div>
                        </li>
                        <li>
                            <a ng-click="showAddTruckForm(true)" ng-hide="addTruckForm">
                                <h6><i class="mdi-content-add-box" /> &nbsp; ADD TRUCKS</h6></a>

                        </li>     
            </ul>
        </div>
    </div>

</div>



<!-- BODY -->

<!-- DO NOT REMOVE-->
<div class="container">

    <!-- LEFT PANEL -->
    <div ng-class="addTruckForm ? 'col-xs-12 col-md-4' : ''">
    <div class="panel" ng-show="addTruckForm">
        <div class="panel-body">

            <h4><i class="mdi-content-add-circle"></i> ADD TRUCK  </h4>

            <form class="form-horizontal" name="truckForm" ng-submit="addTruck(truck)" novalidate>
                <fieldset>

                    <div class="form-group">
                        <div ng-show="noTruckDriver">No Truck Driver</div>
                        <div ng-hide="noTruckDriver">
                        <label for="inputTruckname" class="col-md-6">Truck Driver</label>  
                        <div class="col-md-12">
                          <select class="form-control" id="selectType" ng-model="truck.driver" 
                          ng-options="driver as fullName(driver) for driver in employeeDrivers">
                          </select>
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div ng-show="noChecker">No Checker</div>
                        <div ng-hide="noChecker">
                        <label for="inputCheckerName" class="col-md-6">Checker</label>
                        <div class="col-md-12">
                        <select class="form-control" id="selectType" ng-model="truck.dispatcher" 
                        ng-options="checker as fullName(checker) for checker in employeeCheckers">
                        </select>
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div ng-show="noDSP">No Delivery Sales Personnel</div>
                        <div ng-hide="noDSP">
                        <label for="inpuDPName" class="col-md-9">Delivery Sales Personnel</label>
                        <div class="col-md-12">
                        <select class="form-control" id="selectType" ng-model="truck.agent" 
                        ng-options="agent as fullName(agent) for agent in employeeDeliverySalesPersonnel">
                        </select>
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div ng-show="noDH">No Delivery Helper</div>
                        <div ng-hide="noDH">
                        <label for="inputDHName" class="col-md-6">Delivery Helper</label> 
                        <div class="col-md-12">
                        <select class="form-control" id="selectType" ng-model="truck.helper" 
                        ng-options="helper as fullName(helper) for helper in employeeDeliveryHelper">
                        </select>
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div ng-show="noRoute">No Routes</div>
                        <div ng-hide="noRoute">
                        <label for="inputRoute" class="col-md-6">Route</label> 
                        <div class="col-md-12">
                        <select class="form-control" id="selectType" ng-model="truck.route" 
                        ng-options="route as route.route_name for route in routes">
                        </select>
                        </div>
                    </div>

                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary" ng-disabled="truckForm.$invalid">Add</button>
                        <button type="button" class="btn btn-default" ng-click="showAddTruckForm(false)">Cancel</button> 
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    </div>

    <!-- RIGHT PANEL -->

    <div ng-class="addTruckForm ? 'col-xs-12 col-md-8' : ''">
        <div class="panel">
            <div class="panel-body">

            <div ng-show="noTrucks" align="center">
            <h3><strong>NO TRUCKS!</strong></h3>
             </div>

            <div class="truck-table truck-tableout col-md-2">
            </div>

            <div class="truck-table truck-tableout col-md-7">
              <div class="panel-primary" ng-repeat="truck in trucks">
                <div class="panel-heading" align="center">
                  <h3 class="panel-title">Truck {{$index + 1}}</h3>
                </div>

                <div class="panel-body">

                    <div ng-hide="editIndex === $index">
                        <p>Truck Driver: {{truck.driver.emp_fname+ " " +truck.driver.emp_lname}}</p>
                        <p>Checker: {{truck.dispatcher.emp_fname+ " " +truck.dispatcher.emp_lname}}</p>
                        <p>Delivery Sales Personnel: {{truck.agent.emp_fname+ " " +truck.agent.emp_lname}}</p>
                        <p>Delivery Helper: {{truck.helper.emp_fname+ " "+truck.helper.emp_lname}}</p>
                        <p>Route: {{truck.route}}</p>
                        <p>Carry Weight (kg): {{truck.carry_weight}}</p>
                    </div>

                    <div ng-show="editIndex === $index">
                        <form name="editTruckForm" novalidate>
                        <table class="table table-striped table-hover">
                            <tr>
                                <td>Truck Driver:</td>
                                <td ng-show="noTruckDriver">No Truck Driver</td>
                                <td ng-hide="noTruckDriver">
                                 <select class="form-control" id="selectType" ng-model="truckEdit.driver" 
                                 ng-options="driver as fullName(driver) for driver in employeeDrivers">
                                 </select>
                                </td>
                            </tr>


                            <tr>
                                <td>Checker:</td>
                                <td ng-show="noChecker">No Checker</td>
                                <td ng-hide="noChecker">
                                <select class="form-control" id="selectType" ng-model="truckEdit.dispatcher" 
                                 ng-options="checker as fullName(checker) for checker in employeeCheckers">
                                 </select>
                                 </td>
                            </tr>

                            <tr>
                                <td>Delivery Sales Personnel:</td>
                                <td ng-show="noDSP">No Delivery Sales Personnel</td>
                                <td ng-hide="noDSP">
                                <select class="form-control" id="selectType" ng-model="truckEdit.agent" 
                                 ng-options="dsp as fullName(dsp) for dsp in employeeDeliverySalesPersonnel">
                                 </select>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>Delivery Helper:</td>
                                <td ng-show="noDH">No Delivery Helper</td>
                                <td ng-hide="noDH">
                                <select class="form-control" id="selectType" ng-model="truckEdit.helper" 
                                 ng-options="helper as fullName(helper) for helper in employeeDeliveryHelper">
                                 </select>
                                </td>
                            </tr>

                            <tr>
                                <td>Route:</td>
                                <td ng-show="noRoute">No Routes</td>
                                <td ng-hide="noRoute">
                                   <select class="form-control" id="selectType" ng-model="truckEdit.route" 
                                   ng-options="route as route.route_name for route in routes">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Carry Weight (kg)</td>
                                <td> <input type="number" min="0" step="0.01" class="form-control" id="inputPrice" placeholder="Enter price per bottle." ng-model="truckEdit.carry_weight" required></td>
                            </tr>

                            <!--

                            <tr>
                                <td></td>
                                <td></td>
                            </tr>

                        <p>Truck Driver:
                        <input type="text" ng-model="truckEdit.driver"></p>
                        <p>Checker:
                        <input type="text" ng-model="truckEdit.dispatcher"></p>
                        <p>Delivery Sales Personnel:
                        <input type="text" ng-model="truckEdit.agent"></p>
                        <p>Delivery Helper:
                        <input type="text" ng-model="truckEdit.helper"></p>
                        <p>Route:
                        <input type="text" ng-model="truckEdit.route"></p>

                    -->
                         </form>
                        </table>  
                    </div>

                    

                    <div ng-hide="editIndex === $index" class="pull-right">
                      <button type="button" ng-click="truckEditClicked($index,truck)" class="btn btn-primary btn-xs">Edit</button>

                      <button type="button" ng-click="deleteTruck(truck.id)" class="btn btn-primary btn-xs">Delete</button>
                    </div>
                
                <div ng-show="editIndex === $index" class="pull-right">
                  <button type="button" ng-disabled="editTruckForm.$invalid" ng-click="editTruck(truckEdit)" class="btn btn-primary btn-xs">Save</button>

                  <button type="button" ng-click="truckEditClicked(-1)" class="btn btn-primary btn-xs">Cancel</button>
                </div>
                </div>

             </div>





    </div>
    </div> <!-- END OF WHITE PANEL | DON'T REMOVE! -->

</div> <!-- END OF CONTAINER   | DON'T REMOVE! -->
</div>
</div>